<div class="col-sm-3">
  <div class="drop-box fs-cursor-pointer" ngf-select="vm.selectFiles1('anexos', $files, {})"
    ngf-drop="vm.selectFiles1('anexos', $files, {})" ng-model="files" ngf-multiple="true"
    ngf-drag-over-class="'dragover'">
    <h4>Clique para Selecionar ou Arraste os Arquivos Aqui</h4>
  </div>
</div>

<div ng-class="{'col-sm-9': vm.regras.showAnexo, 'col-sm-12': !vm.regras.showAnexo}">
  <div ng-show="vm.Formulario.anexos.length == 0">
    <h1 class="fs-lg-space">Nenhum arquivo enviado!</h1>
  </div>

  <div class="table" ng-show="vm.regras.showAnexo">
    <div ng-repeat="arquivo in vm.Formulario.anexos" ng-show="!arquivo.removed" class="row">
      <div class="col-sm-1">
        <span ng-click="vm.removeArquivo(arquivo)" ng-if="vm.regras.showAnexo"
          class="flaticon icon-lg flaticon-trash fs-cursor-pointer"></span>
        <span ng-if="arquivo.aceito" class="flaticon flaticon-done icon-lg text-success"></span>
      </div>
      <div class="col-sm-11">
        <!-- aqui tem -->
        <div class="row">
          <div class="col-sm-12"><label>Descrição do Arquivo</label>
            <input type="text" name="descriarqu" class="form-control input-lg" ng-required="true"
              fluig-error="form.descricaoArquivo.$error" ng-model="arquivo.descricao" ng-value="arquivo.descricao"
              ng-change="vm.alterado = true" ng-blur="vm.uploadFiles()" placeholder="Descrição do arquivo">
            <h4 class="fs-no-margin" ng-if="!vm.regras.showAnexo || arquivo.aceito">
              {{arquivo.descricao}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 div_arq">
            <a target="_blank" href="{{arquivo.url}}">
              <h4>
                <iclass="flaticon flaticon-link icon-md">
                  </iclass=>{{arquivo.nome || 'Sem descrição'}}
              </h4>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div style="padding-top: 10px">
              <div ng-if="!arquivo.aceito && arquivo.motivoRecusa" class="alert alert-warning" role="alert">
                <p>Arquivo Recusado. Motivo: {{arquivoEv.motivoRecusa}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>