<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Status</label>
      <h4>{{vm.Formulario.statusAprovGerMarketing | uppercase}}</h4>
      <input type="hidden" name="statusAprovGerMarketing" ng-value="vm.Formulario.statusAprovGerMarketing">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Data</label>
      <h4>{{vm.Formulario.dataAprovGerMarketing | date:'fullDate' | uppercase}}</h4>
      <input type="hidden" name="dataAprovGerMarketing_f"
        ng-value="vm.Formulario.dataAprovGerMarketing | date:'fullDate' | uppercase">
      <input type="hidden" name="dataAprovGerMarketing" ng-value="vm.Formulario.dataAprovGerMarketing">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Responsável</label>
      <h4>{{vm.Formulario.userAprovGerMarketing.colleagueName| uppercase}}</h4>
      <textarea hidden name="userAprovGerMarketing" ng-value="vm.Formulario.userAprovGerMarketing | json:0"
        ng-bind="vm.Formulario.userAprovGerMarketing | json:0"></textarea>
      <input type="hidden" name="userAprovGerMarketingNome"
        ng-value="vm.Formulario.userAprovGerMarketing.colleagueName">
      <input type="hidden" name="userAprovGerMarketingCodigo"
        ng-value="vm.Formulario.userAprovGerMarketing.colleagueId">
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label for="obsAprovGerMarketing" class="control-label">Observações</label>
      <textarea ng-show="vm.regras.enableAprovGerMarketing" fluig-error="form.obsAprovGerMarketing.$error"
        name="obsAprovGerMarketing" elastic class="form-control input-lg" ng-model="vm.Formulario.obsAprovGerMarketing"
        ng-value="vm.Formulario.obsAprovGerMarketing"
        placeholder="Caso reprove a solicitação, utilize este campo para informar o motivo"></textarea>
      <p ng-show="!vm.regras.enableAprovGerMarketing">{{vm.Formulario.obsAprovGerMarketing || 'Sem observações'}}</p>
    </div>
  </div>

</div>