<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="obsNotificacaoCliente" class="control-label">Observações</label>
      <textarea ng-show="vm.regras.enableNotificacaoCliente" fluig-error="form.obsNotificacaoCliente.$error"
        name="obsNotificacaoCliente" elastic class="form-control input-lg"
        placeholder="Utilize este campo para incluir informações adicionais no e-mail que será enviado ao cliente"
        ng-model="vm.Formulario.obsNotificacaoCliente" ng-value="vm.Formulario.obsNotificacaoCliente"></textarea>
      <p ng-show="!vm.regras.enableNotificacaoCliente">{{vm.Formulario.obsNotificacaoCliente || 'Sem observações'}}</p>
    </div>
  </div>
  <div class="col-sm-12">
    <table class="table" tablename="emailsCliente" noaddbutton="true" nodeletebutton="true"
      ng-show="vm.Formulario.emailsCliente.length > 0">
      <thead>
        <tr>
          <th class="hidden-xs col-sm-2" ng-show="vm.regras.enableNotificacaoCliente">
          </th>
          <th class="col-sm-10">E-mail</th>

        </tr>
      </thead>
      <tbody ng-non-bindable>
        <tr ng-repeat="email in vm.Formulario.emailsCliente">
          <td ng-show="vm.regras.enableNotificacaoCliente">
            <span ng-click="vm.removeChild(vm.Formulario.emailsCliente, email)"
              class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
            <div class="dropdown fs-float-right" ng-show="vm.Params.edit && vm.NotificationTypes.length > 0">
              <span class="fluigicon fluigicon-test-refresh fs-cursor-pointer icon-md dropdown-toggle"
                data-toggle="dropdown"></span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-repeat="type in vm.NotificationTypes"
                    ng-click="vm.reenviaNotificacao(email, type)">{{type.label}}</a></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-sm-12">
                <input type="email" ng-required="true" fluig-error="form.email_email_i___{{$index}}.$error"
                  class="form-control" name="email_email_i" ng-model="email.email">
                <input type="hidden" name="email_email" ng-value="email.email">
              </div>
              <div class="col-sm-4 col-md-2">
                <label for="">Início da Ação</label>
                <input type="checkbox" name="email_iniAcao_i" ng-model="email.iniAcao" fluig-switch data-off-text="NÃO"
                  data-on-text="SIM" data-on-color="success" ng-readonly="vm.etapaNotificacao > 3">
                <input type="hidden" name="email_iniAcao" ng-value="email.iniAcao">
              </div>
              <div class="col-sm-4 col-md-2">
                <label for="">Evidências</label>
                <input type="checkbox" name="email_evidencia_i" ng-model="email.evidencia" fluig-switch
                  data-off-text="NÃO" data-on-text="SIM" data-on-color="success" ng-readonly="vm.etapaNotificacao > 3">
                <input type="hidden" name="email_evidencia" ng-value="email.evidencia">
              </div>
              <div class="col-sm-4 col-md-2">
                <label for="">Envio ND</label>
                <input type="checkbox" name="email_envioND_i" ng-model="email.envioND" fluig-switch data-off-text="NÃO"
                  data-on-text="SIM" data-on-color="success" ng-readonly="vm.etapaNotificacao > 4">
                <input type="hidden" name="email_envioND" ng-value="email.envioND">
              </div>
              <div class="col-sm-4 col-md-2">
                <label for="">Pagamento</label>
                <input type="checkbox" name="email_pagamento_i" ng-model="email.pagamento" fluig-switch
                  data-off-text="NÃO" data-on-text="SIM" data-on-color="success" ng-readonly="vm.etapaNotificacao > 5">
                <input type="hidden" name="email_pagamento" ng-value="email.pagamento">
              </div>
              <div class="col-sm-4 col-md-2">
                <label for="">Cancelamento</label>
                <input type="checkbox" name="email_cancelamento_i" ng-model="email.cancelamento" fluig-switch
                  data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                <input type="hidden" name="email_cancelamento" ng-value="email.cancelamento">
              </div>
              <div class="col-sm-4 col-md-2">
                <label for="">Vales</label>
                <input type="checkbox" name="email_vales_i" ng-model="email.vales" fluig-switch data-off-text="NÃO"
                  data-on-text="SIM" data-on-color="success">
                <input type="hidden" name="email_vales" ng-value="email.vales">
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show="vm.regras.enableNotificacaoCliente">
      <a class="btn btn-default btn-lg" ng-click="vm.incluirEmailNotificacao()">Incluir E-mail</a>
      <div class="dropdown fs-float-right" ng-show="vm.Params.edit && vm.NotificationTypes.length > 0">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">Reenviar Para Todos</a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-repeat="type in vm.NotificationTypes"
              ng-click="vm.reenviaNotificacao(null, type)">{{type.label}}</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>