<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="acaoCopiada_i" class="control-label">Copiar Dados da Ação</label>
      <input fluig-error="form.acaoCopiada_i.$error" class="form-control input-lg" fluig-autocomplete
        values="vm.Solicitacoes" display-key="displaykey" ng-model="vm.Formulario.acaoCopiada"
        name="acaoCopiada_i" ng-change="vm.changeAcaoCopiada()" ng-disabled="!vm.regras.enableSolicitacao">

      <textarea hidden name="acaoCopiada" ng-value="vm.Formulario.acaoCopiada | json:0"
        ng-bind="vm.Formulario.acaoCopiada | json:0"></textarea>
      <input type="hidden" name="acaoCopiadaCodigo" ng-value="vm.Formulario.acaoCopiada.solicitacao">
    </div>
  </div>
</div>