<div class="row" ng-show="vm.regras.enableEvidencias">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert">
      Atenção! O envio de evidências deve ser preferencialmente realizado pelo <a
        href="/portal/BROTHER/acao-marketing-cliente#!/{{vm.Formulario.guid}}">Portal do Cliente</a>. Caso não seja
      possível o envio pelo Portal, informe os dados neste formulário, selecione o campo Envio de Evidências Concluído e
      clique em <strong class="text-danger">Salvar</strong>. O fluxo será movimentado automaticamente em até 5 minutos.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Status</label>
      <h4>{{vm.Formulario.statusValidacaoEvid | uppercase}}</h4>
      <input type="hidden" name="statusValidacaoEvid" ng-value="vm.Formulario.statusValidacaoEvid">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Data</label>
      <h4>{{vm.Formulario.dataValidacaoEvid | date:'fullDate' | uppercase}}</h4>
      <input type="hidden" name="dataValidacaoEvid" ng-value="vm.Formulario.dataValidacaoEvid">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Responsável</label>
      <h4>{{vm.Formulario.userValidacaoEvid.colleagueName| uppercase}}</h4>
      <textarea hidden name="userValidacaoEvid" ng-value="vm.Formulario.userValidacaoEvid | json:0"
        ng-bind="vm.Formulario.userValidacaoEvid | json:0"></textarea>
      <input type="hidden" name="userValidacaoEvidNome" ng-value="vm.Formulario.userValidacaoEvid.colleagueName">
      <input type="hidden" name="userValidacaoEvidCodigo" ng-value="vm.Formulario.userValidacaoEvid.colleagueId">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Valor Total da Verba</label>
      <h1 class="fs-no-margin">{{vm.Formulario.valorTotalVerba | currency}}</h1>
      <input type="hidden" name="valorTotalVerba_f" ng-value="vm.Formulario.valorTotalVerba | currency">
      <input type="hidden" name="valorTotalVerba" ng-value="vm.Formulario.valorTotalVerba">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Resultado Apresentado</label>
      <h1 ng-show="!vm.regras.enableEvidencias || vm.ItensEvidencia.length > 0" class="fs-no-margin">
        {{vm.Formulario.valorResultado | currency}}</h1>

      <div ng-show="vm.regras.enableEvidencias && vm.ItensEvidencia.length == 0">
        <input type="text" class="form-control input-lg" name="valorResultado_i" ng-model="vm.Formulario.valorResultado"
          fluig-money-mask fluig-negative-number>
      </div>

      <input type="hidden" name="valorResultado_f" ng-value="vm.Formulario.valorResultado | currency">
      <input type="hidden" name="valorResultado" ng-value="vm.Formulario.valorResultado">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label" for="valorLiberado_i">Valor Liberado para Pagamento</label>
      <h1 ng-show="!vm.regras.enableValidacaoEvidencias" class="fs-no-margin">
        {{vm.Formulario.valorLiberado || 0 | currency}}
      </h1>

      <div ng-show="vm.regras.enableValidacaoEvidencias">
        <input type="text" class="form-control input-lg" name="valorLiberado_i" ng-model="vm.Formulario.valorLiberado"
          fluig-money-mask fluig-negative-number ng-show="vm.regras.enableValidacaoEvidencias" ng-required="true"
          fluig-error="form.valorLiberado_i.$error">
      </div>

      <input type="hidden" name="valorLiberado_f" ng-value="vm.Formulario.valorLiberado | currency">
      <input type="hidden" name="valorLiberado" ng-value="vm.Formulario.valorLiberado">
    </div>
  </div>
</div>
<div class="row">
  <!-- <div class="col-sm-4">
    <div class="form-group">
      <label for="pagamentoVales" class="control-label">Pagamento em Vales</label>
      <input type="checkbox" fluig-switch data-on-text="SIM" data-off-text="NÃO" data-on-color="success"
        ng-change="vm.checkEtapaNotificacao()" name="pagamentoVales_i" ng-model="vm.Formulario.pagamentoVales"
        ng-readonly="!vm.regras.enableValidacaoEvidencias && !vm.regras.enableEvidencias">
      <input type="hidden" name="pagamentoVales" ng-value="vm.Formulario.pagamentoVales">
    </div>
  </div> -->

  <div class="col-sm-4">
    <div class="form-group">
      <label for="necEnvioNd" class="control-label">Necessário o Envio de ND</label>
      <input type="checkbox" fluig-switch data-on-text="SIM" data-off-text="NÃO" data-on-color="success"
        ng-change="vm.checkEtapaNotificacao()" name="necEnvioNd_i" ng-model="vm.Formulario.necEnvioNd"
        ng-readonly="!vm.regras.enableValidacaoEvidencias && !vm.regras.enableEvidencias">
      <input type="hidden" name="necEnvioNd" ng-value="vm.Formulario.necEnvioNd">
    </div>
  </div>

</div>


<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="obsEnvioEvidencias" class="control-label">Observações do Cliente</label>
      <textarea ng-show="vm.regras.enableEvidencias" fluig-error="form.obsEnvioEvidencias.$error"
        name="obsEnvioEvidencias" elastic class="form-control input-lg"
        placeholder="Observações do cliente no envio das evidências" ng-model="vm.Formulario.obsEnvioEvidencias"
        ng-value="vm.Formulario.obsEnvioEvidencias"></textarea>
      <p ng-show="!vm.regras.enableEvidencias" style="white-space: pre-line;">
        {{vm.Formulario.obsEnvioEvidencias || 'Sem observações'}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3 class="text-muted" class="control-label">Arquivos de Evidência</h3>
  </div>


  <div class="col-sm-3" ng-if="vm.regras.enableEvidencias">
    <div class="drop-box fs-cursor-pointer" ngf-select="vm.selectFiles(vm.Formulario.arquivosEvidencias, null, $files)"
      ngf-drop="vm.selectFiles(vm.Formulario.arquivosEvidencias, null, $files)" ng-model="files" ngf-multiple="true"
      ngf-drag-over-class="'dragover'">
      <h4>Clique para Selecionar ou Arraste os Arquivos Aqui</h4>
    </div>
  </div>

  <div ng-class="{'col-sm-9': vm.regras.enableEvidencias, 'col-sm-12': !vm.regras.enableEvidencias}">
    <div ng-show="vm.Formulario.arquivosEvidencias.length == 0">
      <h1 class="fs-lg-space">Nenhum arquivo enviado!</h1>
    </div>
    <div class="table" ng-show="vm.Formulario.arquivosEvidencias.length > 0">
      <!-- <!- <caption>Arquivos de Evidência</caption> -> -->

      <div ng-repeat="arquivoEv in vm.Formulario.arquivosEvidencias" ng-show="!arquivoEv.removed" class="row">

        <div ng-show="vm.regras.enableEvidencias" class="col-sm-1">
          <span ng-click="vm.removeChild(vm.Formulario.arquivosEvidencias, arquivoEv)"
            class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
        </div>
        <div class="col-sm-5">
          <label>Descrição</label>
          <input type="text" ng-readonly="!vm.regras.enableEvidencias" class="form-control" name="arquivoEv_descricao_i"
            ng-model="arquivoEv.descricao" placeholder="Descrição do arquivo">
        </div>
        <div class="col-sm-4">
          <label>Link</label>
          <div> <a target="_blank" href="{{arquivoEv.url}}"> {{arquivoEv.nome}}</a></div>
        </div>
        <div class="col-sm-2">
          <label>Aceito</label>
          <input ng-disabled="!vm.regras.enableValidacaoEvidencias" type="checkbox" name="arquivoEv_aceito_i"
            ng-model="arquivoEv.aceito" fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success"
            ng-change="vm.checkEtapaNotificacao()">
          <!-- <input type="hidden" name="arquivoEv_aceito" ng-value="arquivoEv.aceito"> -->
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="evRecusada" ng-value="vm.Formulario.evRecusada">
<div ng-show="vm.Formulario.evRecusada" class="row">
  <div class="col-sm-12">
    <h3 for="motivoRecusaEv" class="control-label text-muted">Motivo da Recusa das Evidências</h3>
    <textarea elastic ng-readonly="!vm.regras.enableValidacaoEvidencias" class="form-control"
      fluig-error="form.motivoRecusaEv.$error" ng-required="vm.Formulario.evRecusada"
      ng-model="vm.Formulario.motivoRecusaEv" name="motivoRecusaEv" ng-value="vm.Formulario.motivoRecusaEv"></textarea>
  </div>
</div>

<div class="row" ng-show="vm.ItensEvidencia.length > 0">

  <div class="col-sm-12">
    <h3 class="text-muted" class="control-label">
      Valores por item</h3>
  </div>

  <div class="col-sm-12" style="margin-bottom: 15px;">

    <div class="panel panel-default">
      <!-- <div class="panel-heading" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
        <h2 class="fs-no-margin text-muted text-center">{{item.descricao}}</h2>
      </div> -->

      <div class="panel-body">
        <div class="row" ng-repeat="item in vm.ItensEvidencia track by $index">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="itemEv_qtdVendida" class="text-right">Item</label>
              <h4 class="fs-no-margin" class="text-right">{{item.descricao}}</h4>
            </div>

          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="itemEv_qtdVendida">Quantidade</label>
              <input ng-if="vm.regras.enableEvidencias" type="text" class="form-control input-lg"
                name="itemEv_qtdVendida" ng-model="vm.Formulario[item.tablename][item.index].qtdEvidencia"
                ng-change="vm.calculaTotalItemEvidencia(item)" fluig-number-mask>
              <h2 ng-if="!vm.regras.enableEvidencias" class="fs-no-margin">
                {{vm.Formulario[item.tablename][item.index].qtdEvidencia | number:'2'}}</h2>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="itemEv_valEvidencia">Valor</label>
              <input ng-if="vm.regras.enableEvidencias" type="text" class="form-control input-lg"
                name="itemEv_valEvidencia" ng-model="vm.Formulario[item.tablename][item.index].valEvidencia"
                ng-change="vm.calculaTotalItemEvidencia(item)" fluig-money-mask>
              <h2 ng-if="!vm.regras.enableEvidencias" class="fs-no-margin">
                {{vm.Formulario[item.tablename][item.index].valEvidencia | currency}}</h2>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Total</label>
              <h2 class="fs-no-margin">{{vm.Formulario[item.tablename][item.index].totEvidencia | currency}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fs-display-none">
  <table class="table" tablename="arquivosEvidencias" noaddbutton="true" nodeletebutton="true">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody ng-non-bindable>
      <tr ng-repeat="arquivoEv in vm.Formulario.arquivosEvidencias">

        <td>

          <input type="hidden" name="arquivoEv_nome" ng-value="arquivoEv.nome">
          <input type="hidden" name="arquivoEv_tipo" ng-value="arquivoEv.tipo">
          <input type="hidden" name="arquivoEv_documentid" ng-value="arquivoEv.documentid">
          <input type="hidden" name="arquivoEv_version" ng-value="arquivoEv.version">
          <input type="hidden" name="arquivoEv_url" ng-value="arquivoEv.url">
          <input type="hidden" name="arquivoEv_removed" ng-value="arquivoEv.removed">
          <input type="hidden" name="arquivoEv_descricao" ng-value="arquivoEv.descricao">
          <input type="hidden" name="arquivoEv_aceito" ng-value="arquivoEv.aceito">
          <input type="hidden" name="arquivoEv_motivoRecusa" ng-value="arquivoEv.motivoRecusa">

        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" ng-show="vm.regras.enableEvidencias">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="envioEvidenciasConcluido" class="control-label">Envio de Evidências Concluído</label>
      <input type="checkbox" name="envioEvidenciasConcluido_i" ng-model="vm.Formulario.envioEvidenciasConcluido"
        fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
      <input type="hidden" name="envioEvidenciasConcluido" ng-value="vm.Formulario.envioEvidenciasConcluido">
    </div>
  </div>
</div>