<div class="row">
  <div class="col-sm-4" ng-show="vm.Formulario.valorTotalVerba">
    <div class="form-group">
      <label class="control-label">Valor Total da Verba</label>
      <h1>{{vm.Formulario.valorTotalVerba || 0 | currency}}</h1>

    </div>
  </div>
  <div class="col-sm-4" ng-show="vm.Formulario.gpMedioSugerido">
    <div class="form-group">
      <label class="control-label">GP Médido Sugerido</label>
      <h1>{{vm.Formulario.gpMedioSugerido || 0 | percentage}}</h1>
      <input type="hidden" name="gpMedioSugerido_f" ng-value="vm.Formulario.gpMedioSugerido | percentage">
      <input type="hidden" name="gpMedioSugerido" ng-value="vm.Formulario.gpMedioSugerido">
    </div>
  </div>

  <div class="col-sm-4" ng-show="vm.Formulario.valorLiberado">
    <div class="form-group">
      <label class="control-label">Valor Liberado para Pagamento</label>
      <h1>{{vm.Formulario.valorLiberado || 0 | currency}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <label class="control-label">Nome da Ação</label>
    <h4>{{vm.Formulario.nomeAcao}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Cliente</label>
      <h4>{{vm.Formulario.cliente.displaykey || '-' | uppercase}}</h4>
    </div>
  </div>
  <!-- <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Executivo de Contas</label>
      <h4>{{vm.Formulario.executivo.nome || '-' | uppercase}}</h4>
    </div>
  </div> -->
  <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Canal</label>
      <h4>{{vm.Formulario.cliente.subcanal || '-' | uppercase}}</h4>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <label class="control-label">Nº de Controle/Registro</label>
      <h4>{{vm.Formulario.numControle || vm.Formulario.solicitacao || '-'}}</h4>
      <input type="hidden" name="numControle" ng-value="vm.Formulario.numControle">
      <input type="hidden" name="numControleAno" ng-value="vm.Formulario.numControleAno">
      <input type="hidden" name="numControleSeq" ng-value="vm.Formulario.numControleSeq">
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <label class="control-label">Data da Solicitação</label>
      <h4>{{vm.Formulario.dataAbertura | date:'fullDate' | uppercase}}</h4>
      <input type="hidden" name="dataAbertura_f" ng-value="vm.Formulario.dataAbertura | date:'fullDate' | uppercase">
      <input type="hidden" name="dataAbertura" ng-value="vm.Formulario.dataAbertura">
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <label class="control-label">Solicitante</label>
      <h4>{{vm.Formulario.solicitante.colleagueName| uppercase}}</h4>
      <textarea hidden name="solicitante" ng-value="vm.Formulario.solicitante | json:0"
        ng-bind="vm.Formulario.solicitante | json:0"></textarea>
      <input type="hidden" name="solicitanteNome" ng-value="vm.Formulario.solicitante.colleagueName">
      <input type="hidden" name="solicitanteCodigo" ng-value="vm.Formulario.solicitante.colleagueId">
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Tipo de Ação</label>
      <h4>
        {{vm.Formulario.tipoAcao.displaykey || '-' | uppercase}}
        <span ng-if="vm.Formulario.tipoAcao.tipoAcaoCodigo=='sellin' && vm.Formulario.tipoSellin=='item'"> /
          ITEM</span>
        <span ng-if="vm.Formulario.tipoAcao.tipoAcaoCodigo=='sellin' && vm.Formulario.tipoSellin=='target'"> /
          TARGET</span>
        <span ng-if="vm.Formulario.tipoAcao.tipoAcaoCodigo=='spiff' && vm.Formulario.tipoSpiff=='item'"> / ITEM</span>
        <span ng-if="vm.Formulario.tipoAcao.tipoAcaoCodigo=='spiff' && vm.Formulario.tipoSpiff=='target'"> /
          TARGET</span>
        <span ng-if="vm.Formulario.tipoAcao.tipoAcaoCodigo=='vpc' && vm.Formulario.tipoVpc=='eventos'"> /
          EVENTOS</span>
        <span ng-if="vm.Formulario.tipoAcao.tipoAcaoCodigo=='vpc' && vm.Formulario.tipoVpc=='outros'"> / OUTROS</span>

      </h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Início da Ação</label>
      <h4>{{vm.Formulario.inicioAcao || '-' | date:'fullDate' | uppercase}}</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Término da Ação</label>
      <h4>{{vm.Formulario.terminoAcao || '-' | date:'fullDate' | uppercase}}</h4>
      <i ng-if="vm.Formulario.dataEncerramentoAntecipado">Encerramento antecipado para
        {{vm.Formulario.dataEncerramentoAntecipado}}</i>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <label class="control-label">Status</label>
      <h4>{{vm.Formulario.status || 'INÍCIO' | uppercase}}</h4>
      <input type="hidden" name="status" ng-value="vm.Formulario.status">
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Conta Contábil</label>
      <h4>{{vm.Formulario.tipoAcao.contaContabil.displaykey || '-' | uppercase}}</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="form-group animation">
      <label class="control-label">Quantidade</label>
      <h4>
        {{vm.Formulario.tipoQuantidade == 'limitada' ? 'Limitada' : vm.Formulario.tipoQuantidade == 'estimada' ?
        'Estimada' : '-' | uppercase}}
      </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label class="control-label">Descrição Detalhada da Ação</label>
      <h4 style="white-space: pre-line;">{{vm.Formulario.descricaoDetalhada || '-'}}</h4>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensSellout.length > 0">
      <caption>Sell-Out</caption>
      <thead>
        <th ng-if="vm.Formulario.tipoSellout != 'target'">Item</th>
        <th ng-if="vm.Formulario.tipoSellout != 'target'">Categoria</th>
        <th ng-if="vm.Formulario.tipoSellout == 'target'">Target</th>
        <th ng-if="vm.Formulario.tipoSellout == 'target'">Finalidade</th>
        <th ng-if="vm.Formulario.tipoSellout == 'srp'">SRP I/S</th>
        <th ng-if="vm.Formulario.tipoSellout != 'target'">Net I/S</th>
        <th>Rebate Unit</th>
        <th>Qtde</th>
        <th>Rebate Total</th>
        <th ng-if="vm.Formulario.tipoSellout != 'target'">Dolar</th>
        <th ng-if="vm.Formulario.tipoSellout != 'target'">C. Custo</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemSellout in vm.Formulario.itensSellout track by $index">
          <td ng-if="vm.Formulario.tipoSellout != 'target'">
            {{itemSellout.item.displaykey}}
          </td>
          <td ng-if="vm.Formulario.tipoSellout == 'target'">
            {{itemSellout.target}}
          </td>
          <td ng-if="vm.Formulario.tipoSellout != 'target'">
            {{itemSellout.item.categoria}}
          </td>
          <td ng-if="vm.Formulario.tipoSellout == 'target'">
            {{itemSellout.finalidade}}
          </td>
          <td ng-if="vm.Formulario.tipoSellout == 'srp'">
            <p>{{itemSellout.srpInicial | currency}}</p>
            <p>{{itemSellout.srpSugerido | currency}}</p>
          </td>
          <td ng-if="vm.Formulario.tipoSellout != 'target'">
            <p>{{itemSellout.netInicial | currency}}</p>
            <p>{{itemSellout.netSugerido | currency}}</p>
          </td>
          <td>
            {{itemSellout.rebateUnit | currency}}
          </td>
          <td>
            {{itemSellout.qtde | number:'2'}}
          </td>
          <td>
            {{itemSellout.rebateTotal | currency}}
          </td>
          <td ng-if="vm.Formulario.tipoSellout != 'target'">
            {{itemSellout.dolar | currency:'U$'}}
          </td>
          <td ng-if="vm.Formulario.tipoSellout != 'target'">
            {{itemSellout.item.ccusto}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensSellinIt.length > 0">
      <caption>Sell-In - Item</caption>
      <thead>
        <th>Item</th>
        <th>Categoria</th>
        <th>SRP I/S</th>
        <th>Net I/S</th>
        <th>GP I/S</th>
        <th>Rebate Unit</th>
        <th>Qtde</th>
        <th>Rebate Total</th>
        <th>Dolar</th>
        <th>C. Custo</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemSellinIt in vm.Formulario.itensSellinIt">
          <td>
            {{itemSellinIt.item.displaykey}}
          </td>
          <td>
            {{itemSellinIt.item.categoria}}
          </td>
          <td>
            <p>{{itemSellinIt.srpInicial | currency}}</p>
            <p>{{itemSellinIt.srpSugerido | currency}}</p>
          </td>
          <td>
            <p>{{itemSellinIt.netInicial | currency}}</p>
            <p>{{itemSellinIt.netSugerido | currency}}</p>
          </td>
          <td>
            <p>{{itemSellinIt.gpInicial | percentage}}</p>
            <p>{{itemSellinIt.gpSugerido | percentage}}</p>
          </td>

          <td>
            {{itemSellinIt.rebateUnit | currency}}
          </td>
          <td>
            {{itemSellinIt.qtde | number:'2'}}
          </td>
          <td>
            {{itemSellinIt.rebateTotal | currency}}
          </td>
          <td>
            {{itemSellinIt.dolar | currency:'U$'}}
          </td>
          <td>
            {{itemSellinIt.ccusto}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensSellinTg.length > 0">
      <caption>Sell-In - Target</caption>
      <thead>
        <th>Target Principal</th>
        <th>Target R$</th>
        <th>Target Qtde</th>
        <th>Target %</th>
        <th>Valor / Target</th>
        <th>Valor Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemSellinTg in vm.Formulario.itensSellinTg">
          <td>
            {{itemSellinTg.descricao}}
          </td>
          <td>
            {{itemSellinTg.target | currency}}
          </td>
          <td>
            {{itemSellinTg.qtde | number}}
          </td>
          <td>
            {{itemSellinTg.perc | percentage}}
          </td>
          <td>
            {{itemSellinTg.vlTarget | currency}}
          </td>
          <td>
            {{itemSellinTg.vlTotal | currency}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensSellinTgAc.length > 0">
      <caption>Sell-In - Aceleradores</caption>
      <thead>
        <th>Descrição</th>
        <th>Target R$</th>
        <th>Target Qtde</th>
        <th>Target %</th>
        <th>Valor / Target</th>
        <th>Valor Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemSellinAc in vm.Formulario.itensSellinTgAc">
          <td>
            {{itemSellinAc.descricao}}
          </td>
          <td>
            {{itemSellinAc.target | currency}}
          </td>
          <td>
            {{itemSellinAc.qtde | number}}
          </td>
          <td>
            {{itemSellinAc.perc | percentage}}
          </td>
          <td>
            {{itemSellinAc.vlTarget | currency}}
          </td>
          <td>
            {{itemSellinAc.vlTotal | currency}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensVpcEvt.length > 0">
      <caption>VPC / Coop - Eventos</caption>
      <thead>
        <th>Nome do Evento</th>
        <th>Finalidade</th>
        <th>Data Início</th>
        <th>Data Término</th>
        <th>% Reembolso</th>
        <th>Valor Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemVpcEvt in vm.Formulario.itensVpcEvt">
          <td>
            {{itemVpcEvt.nomeEvento}}
          </td>
          <td>
            {{itemVpcEvt.finalidade}}
          </td>
          <td>
            {{itemVpcEvt.inicio | date}}
          </td>
          <td>
            {{itemVpcEvt.termino | date}}
          </td>
          <td>
            {{itemVpcEvt.perc | percentage}}
          </td>
          <td>
            {{itemVpcEvt.vlTotal | currency}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensVpcOutros.length > 0">
      <caption>VPC / Coop - Outros</caption>
      <thead>
        <th>Tipo</th>
        <th>Finalidade</th>
        <th>Quantidade</th>
        <th>% Reembolso</th>
        <th>Valor Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemVpcOutros in vm.Formulario.itensVpcOutros">
          <td>
            {{itemVpcOutros.tipo}}
          </td>
          <td>
            {{itemVpcOutros.finalidade}}
          </td>
          <td>
            {{itemVpcOutros.qtde | number}}
          </td>
          <td>
            {{itemVpcOutros.perc | percentage}}
          </td>
          <td>
            {{itemVpcOutros.vlTotal | currency}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensSpiffIt.length > 0">
      <caption>Spiff - Item</caption>
      <thead>
        <th>Item</th>
        <th>Categoria</th>
        <th>Spiff Unitário</th>
        <th>Qtde</th>
        <th>Valor Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemSpiffIt in vm.Formulario.itensSpiffIt">
          <td>
            {{itemSpiffIt.item.displaykey}}
          </td>
          <td>
            {{itemSpiffIt.item.categoria}}
          </td>
          <td>
            {{itemSpiffIt.spiffUnit | currency}}
          </td>
          <td>
            {{itemSpiffIt.qtde | number:'2'}}
          </td>
          <td>
            {{itemSpiffIt.vlTotal | currency}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <table class="table table-stripped" ng-show="vm.Formulario.itensSpiffTg.length > 0">
      <caption>Spiff - Target</caption>
      <thead>
        <th>Foco</th>
        <th>Target R$</th>
        <th>Target %</th>
        <th>Qtde</th>
        <th>Valor Unitário</th>
        <th>Valor Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="itemSpiffTg in vm.Formulario.itensSpiffTg">
          <td>
            {{itemSpiffTg.foco}}
          </td>
          <td>
            {{itemSpiffTg.target | currency}}
          </td>
          <td>
            {{itemSpiffTg.perc | percentage}}
          </td>
          <td>
            {{itemSpiffTg.qtde | number}}
          </td>
          <td>
            {{itemSpiffTg.vlUnit | currency}}
          </td>
          <td>
            {{itemSpiffTg.vlTotal | currency}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-3">
    <table class="table table-stripped" ng-show="vm.Formulario.rateioCategoria.length > 0">
      <caption>Rateio por Categoria</caption>
      <thead>
        <th>Categoria</th>
        <th>%</th>
      </thead>
      <tbody>
        <tr ng-repeat="rateio in vm.Formulario.rateioCategoria">
          <td>
            {{rateio.categoria.descricao}}
          </td>
          <td>
            {{rateio.perc | percentage: '2'}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-9">
    <table class="table table-stripped" ng-show="vm.Formulario.resumoVerbas.length > 0">
      <caption>Resumo de Verbas do Cliente</caption>
      <thead>
        <th></th>
        <th>Rebate Sell-Out</th>
        <th>Rebate Sell-in</th>
        <th>Spiff</th>
        <th>VPC</th>
        <th>Total</th>
      </thead>
      <tbody>
        <tr ng-repeat="item in vm.Formulario.resumoVerbas" ng-class="item.class">
          <td>
            {{item.titulo}}
          </td>
          <td>
            {{item.rebateSellout | currency}}
          </td>
          <td>
            {{item.rebateSellin | currency}}
          </td>
          <td>
            {{item.spiff | currency}}
          </td>
          <td>
            {{item.vpc | currency}}
          </td>
          <td>
            {{item.total | currency}}
          </td>

        </tr>
      </tbody>
    </table>

  </div>

</div>

<div class="row" ng-if="vm.Formulario.guid">
  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label">Link para o portal do cliente</label>

      <a target="_blank" ng-href="/portal/BROTHER/acao-marketing-cliente#!/{{vm.Formulario.guid}}">
        <h3>/portal/BROTHER/acao-marketing-cliente#!/{{vm.Formulario.guid}}</h3>
      </a>
    </div>
  </div>
</div>