<table class="table" tablename="itensSellinIt" noaddbutton="true" nodeletebutton="true"
  ng-show="vm.Formulario.itensSellinIt.length > 0">
  <thead>
    <tr>
      <th class="col-sm-1" ng-if="vm.regras.enableSolicitacao"></th>
      <th class="col-sm-11"></th>
    </tr>
  </thead>
  <tbody ng-non-bindable>
    <tr ng-repeat="itemSellinIt in vm.Formulario.itensSellinIt">
      <td ng-if="vm.regras.enableSolicitacao">
        <span ng-click="vm.removeChild(vm.Formulario.itensSellinIt, itemSellinIt)"
          class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
      </td>
      <td>
        <div class="td-content">
          <div class="row">

            <div class="col-sm-4">
              <label>Cód. Item</label>
              <input class="form-control input-lg" name="itemSellinIt_itemC_i" fluig-autocomplete
                dataset="totvs_busca_item" display-key="codigo" ng-model="itemSellinIt.item"
                ng-disabled="!vm.regras.enableSolicitacao"
                ng-change="itemSellinIt.alterado=true;vm.changeItemSellinIt(itemSellinIt, $index)">

            </div>
            <div class="col-sm-8">
              <label>Descrição</label>
              <input class="form-control input-lg" name="itemSellinIt_itemD_i" fluig-autocomplete
                dataset="totvs_busca_item" display-key="descricao" ng-model="itemSellinIt.item"
                ng-disabled="!vm.regras.enableSolicitacao"
                ng-change="itemSellinIt.alterado=true;vm.changeItemSellinIt(itemSellinIt, $index)">
            </div>

            <textarea hidden name="itemSellinIt_item" ng-value="itemSellinIt.item | json:0"
              ng-bind="itemSellinIt.item | json:0"></textarea>
            <input type="hidden" name="itemSellinIt_itemDescricao" ng-value="itemSellinIt.item.descricao">
            <input type="hidden" name="itemSellinIt_itemCodigo" ng-value="itemSellinIt.item.codigo">

          </div>

          <div class="row animation">
            <div class="col-sm-4" ng-show="vm.Formulario.tipoSellin == 'item'">
              <label>SRP Inicial</label>
              <input class="form-control input-lg" name="itemSellinIt_srpInicial_i" fluig-money-mask="5"
                fluig-negative-number ng-model="itemSellinIt.srpInicial" ng-readonly="!vm.regras.enableSolicitacao"
                ng-blur="vm.calculaItemErp(itemSellinIt)" ng-change="itemSellinIt.alterado = true">
              <input type="hidden" name="itemSellinIt_srpInicial_f" ng-value="itemSellinIt.srpInicial | currency">
              <input type="hidden" name="itemSellinIt_srpInicial" ng-value="itemSellinIt.srpInicial">
            </div>

            <div class="col-sm-4" ng-show="vm.Formulario.tipoSellin == 'item'">
              <label>SRP Sugerido</label>
              <input class="form-control input-lg" name="itemSellinIt_srpSugerido_i" fluig-money-mask="5"
                fluig-negative-number ng-model="itemSellinIt.srpSugerido" ng-readonly="!vm.regras.enableSolicitacao"
                ng-blur="vm.calculaItemErp(itemSellinIt)" ng-change="itemSellinIt.alterado = true">
              <input type="hidden" name="itemSellinIt_srpSugerido_f" ng-value="itemSellinIt.srpSugerido | currency">
              <input type="hidden" name="itemSellinIt_srpSugerido" ng-value="itemSellinIt.srpSugerido">
            </div>

            <div class="col-sm-4 fs-display-none">
              <label>GP Inicial</label>
              <input class="form-control input-lg" name="itemSellinIt_gpInicial_i"
                ng-class="{'loading':itemSellinIt.loading}" fluig-percentage-mask fluig-negative-number="true"
                ng-model="itemSellinIt.gpInicial" disabled>
              <input type="hidden" name="itemSellinIt_gpInicial_f" ng-value="itemSellinIt.gpInicial | percentage:'2'">
              <input type="hidden" name="itemSellinIt_gpInicial" ng-value="itemSellinIt.gpInicial">
            </div>
          </div>

          <div class="row animation">
            <div class="col-sm-4">
              <label>Net R$ Inicial</label>
              <input class="form-control input-lg" name="itemSellinIt_netInicial_i"
                ng-class="{'loading':itemSellinIt.loading}" fluig-money-mask="5" fluig-negative-number
                ng-model="itemSellinIt.netInicial" ng-disabled="vm.Formulario.tipoSellin != 'net'"
                ng-change="itemSellinIt.alterado = true;vm.calculaItemErp(itemSellinIt)">
              <input type="hidden" name="itemSellinIt_netInicial_f" ng-value="itemSellinIt.netInicial | currency">
              <input type="hidden" name="itemSellinIt_netInicial" ng-value="itemSellinIt.netInicial">
            </div>

            <div class="col-sm-4">
              <label>Net R$ Sugerido</label>
              <input class="form-control input-lg" name="itemSellinIt_netSugerido_i"
                ng-class="{'loading':itemSellinIt.loading}" fluig-money-mask="5" fluig-negative-number
                ng-model="itemSellinIt.netSugerido" ng-disabled="vm.Formulario.tipoSellin != 'net'"
                ng-change="itemSellinIt.alterado = true;vm.calculaItemErp(itemSellinIt)">
              <input type="hidden" name="itemSellinIt_netSugerido_f" ng-value="itemSellinIt.netSugerido | currency">
              <input type="hidden" name="itemSellinIt_netSugerido" ng-value="itemSellinIt.netSugerido">
            </div>

            <div class="col-sm-4 fs-display-none">
              <label>GP Sugerido</label>
              <input class="form-control input-lg" name="itemSellinIt_gpSugerido_i"
                ng-class="{'loading':itemSellinIt.loading}" fluig-percentage-mask fluig-negative-number="true"
                ng-model="itemSellinIt.gpSugerido" disabled>
              <input type="hidden" name="itemSellinIt_gpSugerido_f" ng-value="itemSellinIt.gpSugerido | percentage:'2'">
              <input type="hidden" name="itemSellinIt_gpSugerido" ng-value="itemSellinIt.gpSugerido">
            </div>
          </div>

          <div class="row animation">
            <div class="col-sm-4">
              <label>Rebate Unit</label>
              <input class="form-control input-lg" name="itemSellinIt_rebateUnit_i"
                ng-class="{'loading':itemSellinIt.loading}" fluig-money-mask="5" fluig-negative-number
                ng-model="itemSellinIt.rebateUnit" disabled>
              <input type="hidden" name="itemSellinIt_rebateUnit_f" ng-value="itemSellinIt.rebateUnit | currency">
              <input type="hidden" name="itemSellinIt_rebateUnit" ng-value="itemSellinIt.rebateUnit">
            </div>

            <div class="col-sm-4">
              <label>Qtde</label>
              <input class="form-control input-lg" name="itemSellinIt_qtde_i" fluig-number-mask="2"
                ng-model="itemSellinIt.qtde" ng-readonly="!vm.regras.enableSolicitacao"
                ng-change="vm.calculaRebateTotal(itemSellinIt)">
              <input type="hidden" name="itemSellinIt_qtde_f" ng-value="itemSellinIt.qtde | number:'2'">
              <input type="hidden" name="itemSellinIt_qtde" ng-value="itemSellinIt.qtde">
            </div>
            <div class="col-sm-4">
              <label>Rebate Total</label>
              <input class="form-control input-lg" name="itemSellinIt_rebateTotal_i" fluig-money-mask="2"
                fluig-negative-number ng-model="itemSellinIt.rebateTotal" disabled>
              <input type="hidden" name="itemSellinIt_rebateTotal_f" ng-value="itemSellinIt.rebateTotal | currency">
              <input type="hidden" name="itemSellinIt_rebateTotal" ng-value="itemSellinIt.rebateTotal">
            </div>
          </div>
          <div class="row animation">
            <div class="col-sm-2 animation">
              <label>Categoria</label>
              <input class="form-control input-lg" name="itemSellinIt_categoria" ng-value="itemSellinIt.item.categoria"
                disabled>
            </div>
            <div class="col-sm-2">
              <label>Centro de Custo</label>
              <input class="form-control input-lg" name="itemSellinIt_ccusto" ng-value="itemSellinIt.item.ccusto"
                disabled>
            </div>
            <div class="col-sm-3">
              <label>Dolar</label>
              <input class="form-control input-lg" name="itemSellinIt_dolar_i"
                ng-class="{'loading':itemSellinIt.loading}" fluig-money-mask="5" fluig-negative-number
                currency-symbol="US$" ng-model="itemSellinIt.dolar" disabled>
              <input type="hidden" name="itemSellinIt_dolar_f" ng-value="itemSellinIt.dolar | currency:'US$'">
              <input type="hidden" name="itemSellinIt_dolar" ng-value="itemSellinIt.dolar">
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12">
              <!-- <h4>{{itemSellinIt.usuario.colleagueName}} incluiu em {{itemSellinIt.data | date}}</h4> -->
              <textarea hidden name="itemSellinIt_usuario" ng-value="itemSellinIt.usuario | json:0"
                ng-bind="itemSellinIt.usuario | json:0"></textarea>
              <input type="hidden" name="itemSellinIt_usuarioCodigo" ng-value="itemSellinIt.usuario.colleagueId">
              <input type="hidden" name="itemSellinIt_usuarioNome" ng-value="itemSellinIt.usuario.colleagueName">
              <input type="hidden" name="itemSellinIt_data" ng-value="itemSellinIt.data">
              <input type="hidden" name="itemSellinIt_data_f" ng-value="itemSellinIt.data | date:'fullDate'">

            </div>
          </div>

          <input type="hidden" name="itemSellinIt_qtdEvidencia_f" ng-value="itemSellinIt.qtdEvidencia | number:'2'">
          <input type="hidden" name="itemSellinIt_valEvidencia_f" ng-value="itemSellinIt.valEvidencia | currency">
          <input type="hidden" name="itemSellinIt_totEvidencia_f" ng-value="itemSellinIt.totEvidencia | currency">

          <input type="hidden" name="itemSellinIt_qtdEvidencia" ng-value="itemSellinIt.qtdEvidencia">
          <input type="hidden" name="itemSellinIt_valEvidencia" ng-value="itemSellinIt.valEvidencia">
          <input type="hidden" name="itemSellinIt_totEvidencia" ng-value="itemSellinIt.totEvidencia">

        </div>
      </td>
    </tr>
  </tbody>
</table>

<a ng-if="vm.regras.enableSolicitacao" class="btn btn-default"
  ng-click="vm.incluiItem(vm.Formulario.itensSellinIt)">Incluir
  Item</a>