<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Status</label>
      <h4>{{vm.Formulario.statusValidacaoMarketing | uppercase}}</h4>
      <input type="hidden" name="statusValidacaoMarketing" ng-value="vm.Formulario.statusValidacaoMarketing">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Data da Validação</label>
      <h4>{{vm.Formulario.dataValidacaoMarketing | date:'fullDate' | uppercase}}</h4>
      <input type="hidden" name="dataValidacaoMarketing_f"
        ng-value="vm.Formulario.dataValidacaoMarketing | date:'fullDate' | uppercase">
      <input type="hidden" name="dataValidacaoMarketing" ng-value="vm.Formulario.dataValidacaoMarketing">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label">Responsável</label>
      <h4>{{vm.Formulario.userValMarketing.colleagueName| uppercase}}</h4>
      <textarea hidden name="userValMarketing" ng-value="vm.Formulario.userValMarketing | json:0"
        ng-bind="vm.Formulario.userValMarketing | json:0"></textarea>
      <input type="hidden" name="userValMarketingNome" ng-value="vm.Formulario.userValMarketing.colleagueName">
      <input type="hidden" name="userValMarketingCodigo" ng-value="vm.Formulario.userValMarketing.colleagueId">
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label for="obsValidacaoMarketing" class="control-label">Observações</label>
      <textarea ng-show="vm.regras.enableValidacaoMarketing" fluig-error="form.obsValidacaoMarketing.$error"
        name="obsValidacaoMarketing" elastic class="form-control input-lg"
        placeholder="Caso devolva a solicitação, utilize este campo para informar o motivo"
        ng-model="vm.Formulario.obsValidacaoMarketing" ng-value="vm.Formulario.obsValidacaoMarketing"></textarea>
      <p ng-show="!vm.regras.enableValidacaoMarketing">{{vm.Formulario.obsValidacaoMarketing || 'Sem observações'}}</p>
    </div>
  </div>

  <!-- <div class="col-sm-12">
    <div class="form-group">
      <label for="executivo_i" class="control-label">Executivo de Contas</label>
      <input ng-required="true" fluig-error="form.executivo_i.$error" class="form-control input-lg" fluig-autocomplete
        dataset="totvs_busca_executivo" display-key="displaykey" ng-model="vm.Formulario.executivo" name="executivo_i"
        ng-disabled="!vm.regras.enableValidacaoMarketing">

      <textarea hidden name="executivo" ng-value="vm.Formulario.executivo | json:0"
        ng-bind="vm.Formulario.executivo | json:0"></textarea>
      <input type="hidden" name="executivoCodigo" ng-value="vm.Formulario.executivo.codigo">
      <input type="hidden" name="executivoNome" ng-value="vm.Formulario.executivo.nome">
    </div>
  </div> -->

  <div class="col-sm-12">
    <div class="form-group">
      <label for="necAprovacaoGerMkt" class="control-label">Necessária a Aprovação do Gerente de Marketing</label>
      <input type="checkbox" fluig-switch data-on-text="SIM" data-off-text="NÃO" data-on-color="success"
        name="necAprovacaoGerMkt_i" ng-model="vm.Formulario.necAprovacaoGerMkt"
        ng-readonly="!vm.regras.enableValidacaoMarketing">
      <input type="hidden" name="necAprovacaoGerMkt" ng-value="vm.Formulario.necAprovacaoGerMkt">
    </div>
  </div>

</div>