<table class="table" tablename="itensVpcEvt" noaddbutton="true" nodeletebutton="true"
  ng-show="vm.Formulario.itensVpcEvt.length > 0">
  <thead>
    <tr>
      <th class="col-sm-1" ng-if="vm.regras.enableSolicitacao"></th>
      <th class="col-sm-11"></th>
    </tr>
  </thead>
  <tbody ng-non-bindable>
    <tr ng-repeat="itemVpcEvt in vm.Formulario.itensVpcEvt">
      <td ng-if="vm.regras.enableSolicitacao">
        <span ng-if="vm.regras.enableSolicitacao" ng-click="vm.removeChild(vm.Formulario.itensVpcEvt, itemVpcEvt)"
          class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
      </td>
      <td>
        <div class="td-content">

          <div class="row">
            <div class="col-sm-6">
              <label>Nome do Evento</label>
              <input class="form-control input-lg" name="itemVpcEvt_nomeEvento" ng-model="itemVpcEvt.nomeEvento"
                ng-value="itemVpcEvt.nomeEvento" ng-readonly="!vm.regras.enableSolicitacao">
            </div>
            <div class="col-sm-6">
              <label>Finalidade</label>
              <input class="form-control input-lg" name="itemVpcEvt_finalidade" ng-model="itemVpcEvt.finalidade"
                ng-value="itemVpcEvt.finalidade" ng-readonly="!vm.regras.enableSolicitacao">
            </div>
            <div class="col-sm-3">
              <label>Data Início</label>
              <input class="form-control input-lg" name="itemVpcEvt_inicio_i" fluig-date-mask date-pattern="LL"
                ng-model="itemVpcEvt.inicio" ng-readonly="!vm.regras.enableSolicitacao" readonly>
              <input type="hidden" name="itemVpcEvt_inicio_f" ng-value="itemVpcEvt.inicio | date:'fullDate'">
              <input type="hidden" name="itemVpcEvt_inicio" ng-value="itemVpcEvt.inicio">
            </div>
            <div class="col-sm-3">
              <label>Data Término</label>
              <input class="form-control input-lg" name="itemVpcEvt_termino_i" fluig-date-mask date-pattern="LL"
                ng-model="itemVpcEvt.termino" ng-readonly="!vm.regras.enableSolicitacao" readonly>
              <input type="hidden" name="itemVpcEvt_termino_f" ng-value="itemVpcEvt.termino | date:'fullDate'">
              <input type="hidden" name="itemVpcEvt_termino" ng-value="itemVpcEvt.termino">
            </div>
            <div class="col-sm-3">
              <label>% Reembolso</label>
              <input class="form-control input-lg" name="itemVpcEvt_perc_i" fluig-percentage-mask
                fluig-negative-number="true" ng-model="itemVpcEvt.perc" ng-readonly="!vm.regras.enableSolicitacao">
              <input type="hidden" name="itemVpcEvt_perc_f" ng-value="itemVpcEvt.perc | percentage:'2'">
              <input type="hidden" name="itemVpcEvt_perc" ng-value="itemVpcEvt.perc">
            </div>
            <div class="col-sm-3">
              <label>Valor Total</label>
              <input class="form-control input-lg" name="itemVpcEvt_vlTotal_i" fluig-money-mask="5" fluig-negative-number
                ng-model="itemVpcEvt.vlTotal" ng-readonly="!vm.regras.enableSolicitacao" ng-change="vm.calculaTotais()">
              <input type="hidden" name="itemVpcEvt_vlTotal_f" ng-value="itemVpcEvt.vlTotal | currency">
              <input type="hidden" name="itemVpcEvt_vlTotal" ng-value="itemVpcEvt.vlTotal">
            </div>

            <input type="hidden" name="itemVpcEvt_qtdEvidencia_f" ng-value="itemVpcEvt.qtdEvidencia | number:'2'">
            <input type="hidden" name="itemVpcEvt_valEvidencia_f" ng-value="itemVpcEvt.valEvidencia | currency">
            <input type="hidden" name="itemVpcEvt_totEvidencia_f" ng-value="itemVpcEvt.totEvidencia | currency">

            <input type="hidden" name="itemVpcEvt_qtdEvidencia" ng-value="itemVpcEvt.qtdEvidencia">
            <input type="hidden" name="itemVpcEvt_valEvidencia" ng-value="itemVpcEvt.valEvidencia">
            <input type="hidden" name="itemVpcEvt_totEvidencia" ng-value="itemVpcEvt.totEvidencia">

          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a ng-if="vm.regras.enableSolicitacao" class="btn btn-default"
  ng-click="vm.incluiItem(vm.Formulario.itensVpcEvt)">Incluir
  Item</a>