<table class="table" tablename="itensVpcOutros" noaddbutton="true" nodeletebutton="true"
  ng-show="vm.Formulario.itensVpcOutros.length > 0">
  <thead>
    <tr>
      <th class="col-sm-1" ng-if="vm.regras.enableSolicitacao"></th>
      <th class="col-sm-11"></th>
    </tr>
  </thead>
  <tbody ng-non-bindable>
    <tr ng-repeat="itemVpcOutros in vm.Formulario.itensVpcOutros">
      <td ng-if="vm.regras.enableSolicitacao">
        <span ng-if="vm.regras.enableSolicitacao" ng-click="vm.removeChild(vm.Formulario.itensVpcOutros, itemVpcOutros)"
          class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
      </td>
      <td>
        <div class="td-content">

          <div class="row">
            <div class="col-sm-6">
              <label>Tipo</label>
              <input class="form-control input-lg" name="itemVpcOutros_tipo" ng-model="itemVpcOutros.tipo"
                ng-value="itemVpcOutros.tipo" ng-readonly="!vm.regras.enableSolicitacao">
            </div>
            <div class="col-sm-6">
              <label>Finalidade</label>
              <input class="form-control input-lg" name="itemVpcOutros_finalidade" ng-model="itemVpcOutros.finalidade"
                ng-value="itemVpcOutros.finalidade" ng-readonly="!vm.regras.enableSolicitacao">
            </div>
            <div class="col-sm-3">
              <label>Quantidade</label>
              <input class="form-control input-lg" name="itemVpcOutros_qtde_i" fluig-number-mask="2"
                ng-model="itemVpcOutros.qtde" ng-readonly="!vm.regras.enableSolicitacao">
              <input type="hidden" name="itemVpcOutros_qtde_f" ng-value="itemVpcOutros.qtde | number:'2'">
              <input type="hidden" name="itemVpcOutros_qtde" ng-value="itemVpcOutros.qtde">
            </div>
            <div class="col-sm-3">
              <label>% Reembolso</label>
              <input class="form-control input-lg" name="itemVpcOutros_perc_i" fluig-percentage-mask
                fluig-negative-number="true" ng-model="itemVpcOutros.perc" ng-readonly="!vm.regras.enableSolicitacao">
              <input type="hidden" name="itemVpcOutros_perc_f" ng-value="itemVpcOutros.perc | percentage:'2'">
              <input type="hidden" name="itemVpcOutros_perc" ng-value="itemVpcOutros.perc">
            </div>
            <div class="col-sm-3">
              <label>Valor Total</label>
              <input class="form-control input-lg" name="itemVpcOutros_vlTotal_i" fluig-money-mask="5"
                ng-model="itemVpcOutros.vlTotal" ng-readonly="!vm.regras.enableSolicitacao"
                ng-change="vm.calculaTotais()">
              <input type="hidden" name="itemVpcOutros_vlTotal_f" ng-value="itemVpcOutros.vlTotal | currency">
              <input type="hidden" name="itemVpcOutros_vlTotal" ng-value="itemVpcOutros.vlTotal">
            </div>

            <input type="hidden" name="itemVpcOutros_qtdEvidencia_f" ng-value="itemVpcOutros.qtdEvidencia | number:'2'">
            <input type="hidden" name="itemVpcOutros_valEvidencia_f" ng-value="itemVpcOutros.valEvidencia | currency">
            <input type="hidden" name="itemVpcOutros_totEvidencia_f" ng-value="itemVpcOutros.totEvidencia | currency">

            <input type="hidden" name="itemVpcOutros_qtdEvidencia" ng-value="itemVpcOutros.qtdEvidencia">
            <input type="hidden" name="itemVpcOutros_valEvidencia" ng-value="itemVpcOutros.valEvidencia">
            <input type="hidden" name="itemVpcOutros_totEvidencia" ng-value="itemVpcOutros.totEvidencia">
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a ng-if="vm.regras.enableSolicitacao" class="btn btn-default"
  ng-click="vm.incluiItem(vm.Formulario.itensVpcOutros)">Incluir
  Item</a>