.ng-animate-shim {
  visibility: hidden;
}

// FADE
.animated.animated_fade.ng-hide-add {
  -webkit-animation: fadeOut var(--animate-duration);
  animation: fadeOut var(--animate-duration);
}
.animated.animated_fade.ng-hide-remove {
  -webkit-animation: fadeIn var(--animate-duration);
  animation: fadeIn var(--animate-duration);
}

// BOUNCE
.animated.animated_bounce.ng-hide-add {
  -webkit-animation: bounceOut var(--animate-duration);
  animation: bounceOut var(--animate-duration);
}
.animated.animated_bounce.ng-hide-remove {
  -webkit-animation: bounceIn var(--animate-duration);
  animation: bounceIn var(--animate-duration);
}

// ZOOM
.animated.animated_zoom.ng-hide-add {
  -webkit-animation: zoomOut var(--animate-duration);
  animation: zoomOut var(--animate-duration);
}
.animated.animated_zoom.ng-hide-remove {
  -webkit-animation: zoomIn var(--animate-duration);
  animation: zoomIn var(--animate-duration);
}
