<html ng-app="MarketingAberturaVerbaApp">

<head>
  <!-- partial:../partials/head.html -->
  <!-- partial -->

  <title>Abertura de Verba para Ação de Marketing</title>
</head>

<body ng-controller="MarketingAberturaVerbaController as vm">
  <div class="fluig-style-guide ng-cloak">
    <div class="container-fluid">
      <div fluig-header class="hidden-xs hidden-print fs-sm-space" logo="/brother_lib/images/logo.png">
      </div>
      <form name="form" role="form" class="form">
        <!-- partial:partials/angularMap.html -->
        <!-- partial -->

        <!-- partial:../partials/alerts.html -->
        <!-- partial -->

        <div class="panel-group" id="accordion">

          <div ng-show="vm.regras.showSuspenderAcao || vm.Formulario.suspenderAcao" class="panel panel-danger"
            id="panelSuspenderAcao">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSuspenderAcao}" data-toggle="collapse"
                  href="#collapseSuspenderAcao">
                  {{vm.Formulario.suspenderAcao ? 'Ação Suspensa' : 'Suspender Ação'}}
                </a>
              </h4>
            </div>
            <div id="collapseSuspenderAcao" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableSuspenderAcao}">
              <div class="panel-body">
                <!-- partial:partials/suspenderAcao.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showCopiarAcao" class="panel" id="panelCopiarAcao"
            ng-class="vm.regras.enableCopiarAcao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" data-toggle="collapse" href="#collapseCopiarAcao">
                  Copiar Ação
                </a>
              </h4>
            </div>
            <div id="collapseCopiarAcao" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- partial:partials/copiarAcao.html -->
                    <!-- partial -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showSolicitacao" class="panel" id="panelSolicitacao"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseSolicitacao">
                  Solicitação
                </a>
              </h4>
            </div>
            <div id="collapseSolicitacao" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- partial:partials/solicitacao.html -->
                    <!-- partial -->
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='price' && vm.Formulario.cliente.codigo"
            class="panel" id="panelprice" ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseprice">
                  Price
                </a>
              </h4>
            </div>
            <div id="collapseprice" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <table class="table" tablename="itensprice" noaddbutton="true" nodeletebutton="true"
                  ng-show="vm.Formulario.itensprice.length > 0">
                  <thead>
                    <tr>
                      <th class="col-sm-1" ng-if="vm.regras.enableSolicitacao"></th>
                      <th class="col-sm-11"></th>
                    </tr>
                  </thead>
                  <tbody ng-non-bindable>
                    <tr ng-repeat="itemprice in vm.Formulario.itensprice track by $index">
                      <td ng-if="vm.regras.enableSolicitacao">
                        <span ng-click="vm.removeChild(vm.Formulario.itensprice, itemprice)"
                          class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
                      </td>
                      <td>
                        <div class="td-content">
                          <div class="row" ng-show="vm.Formulario.tipoprice == 'target'">
                            <div class="col-sm-4">
                              <label>Target</label>
                              <input class="form-control input-lg" name="itemprice_target" ng-model="itemprice.target"
                                ng-value="itemprice.target" ng-readonly="!vm.regras.enableSolicitacao">

                            </div>
                            <div class="col-sm-8">
                              <label>Finalidade</label>
                              <input class="form-control input-lg" name="itemprice_finalidade"
                                ng-model="itemprice.finalidade" ng-value="itemprice.finalidade"
                                ng-readonly="!vm.regras.enableSolicitacao">
                            </div>
                          </div>

                          <div class="row" ng-show="vm.Formulario.tipoprice != 'target'">
                            <div class="col-sm-4">
                              <label>Cód. Item</label>
                              <input class="form-control input-lg" name="itemprice_itemC_i" fluig-autocomplete
                                dataset="totvs_busca_item" display-key="codigo" ng-model="itemprice.item"
                                ng-disabled="!vm.regras.enableSolicitacao" ng-readonly="itemprice.loading"
                                ng-change="itemprice.alterado = true;vm.changeItemprice(itemprice, $index)">

                            </div>
                            <div class="col-sm-8">
                              <label>Descrição</label>
                              <input class="form-control input-lg" name="itemprice_itemD_i" fluig-autocomplete
                                dataset="totvs_busca_item" display-key="descricao" ng-model="itemprice.item"
                                ng-disabled="!vm.regras.enableSolicitacao" ng-readonly="itemprice.loading"
                                ng-change="itemprice.alterado = true;vm.changeItemprice(itemprice, $index)">
                            </div>

                            <textarea hidden name="itemprice_item" ng-value="itemprice.item | json:0"
                              ng-bind="itemprice.item | json:0"></textarea>
                            <input type="hidden" name="itemprice_itemDescricao" ng-value="itemprice.item.descricao">
                            <input type="hidden" name="itemprice_itemCodigo" ng-value="itemprice.item.codigo">
                          </div>

                          <div class="row" ng-show="vm.Formulario.tipoprice == 'srp'">
                            <div class="col-sm-4">
                              <label>SRP Inicial</label>
                              <input class="form-control input-lg" name="itemprice_srpInicial_i" fluig-money-mask="5"
                                fluig-negative-number fluig-negative-number ng-model="itemprice.srpInicial"
                                ng-readonly="!vm.regras.enableSolicitacao" ng-blur="vm.calculaItemErp(itemprice)"
                                ng-change="itemprice.alterado = true">
                              <input type="hidden" name="itemprice_srpInicial_f"
                                ng-value="itemprice.srpInicial | currency">
                              <input type="hidden" name="itemprice_srpInicial" ng-value="itemprice.srpInicial">
                            </div>

                            <div class="col-sm-4">
                              <label>SRP Sugerido</label>
                              <input class="form-control input-lg" name="itemprice_srpSugerido_i" fluig-money-mask="5"
                                fluig-negative-number fluig-negative-number ng-model="itemprice.srpSugerido"
                                ng-readonly="!vm.regras.enableSolicitacao" ng-blur="vm.calculaItemErp(itemprice)"
                                ng-change="itemprice.alterado = true">
                              <input type="hidden" name="itemprice_srpSugerido_f"
                                ng-value="itemprice.srpSugerido | currency">
                              <input type="hidden" name="itemprice_srpSugerido" ng-value="itemprice.srpSugerido">
                            </div>
                          </div>

                          <div class="row animation" ng-show="vm.Formulario.tipoprice != 'target'">
                            <div class="col-sm-4">
                              <label>Net R$ Inicial</label>
                              <input class="form-control input-lg" name="itemprice_netInicial_i"
                                ng-class="{'loading':itemprice.loading}" fluig-money-mask="5" fluig-negative-number
                                fluig-negative-number ng-model="itemprice.netInicial"
                                ng-change="itemprice.alterado = true;vm.calculaItemErp(itemprice)"
                                ng-disabled="vm.Formulario.tipoprice != 'net'">
                              <input type="hidden" name="itemprice_netInicial_f"
                                ng-value="itemprice.netInicial | currency">
                              <input type="hidden" name="itemprice_netInicial" ng-value="itemprice.netInicial">
                            </div>

                            <div class="col-sm-4">
                              <label>Net R$ Sugerido</label>
                              <input class="form-control input-lg" name="itemprice_netSugerido_i"
                                ng-class="{'loading':itemprice.loading}" fluig-money-mask="5" fluig-negative-number
                                fluig-negative-number ng-model="itemprice.netSugerido"
                                ng-change="itemprice.alterado = true;vm.calculaItemErp(itemprice)"
                                ng-disabled="vm.Formulario.tipoprice != 'net'">
                              <input type="hidden" name="itemprice_netSugerido_f"
                                ng-value="itemprice.netSugerido | currency">
                              <input type="hidden" name="itemprice_netSugerido" ng-value="itemprice.netSugerido">
                            </div>

                          </div>

                          <div class="row animation">
                            <div class="col-sm-4">
                              <label>Rebate Unit</label>
                              <input class="form-control input-lg" name="itemprice_rebateUnit_i"
                                ng-class="{'loading':itemprice.loading}" fluig-money-mask="5" fluig-negative-number
                                fluig-negative-number ng-model="itemprice.rebateUnit"
                                ng-change="vm.calculaRebateTotal(itemprice)"
                                ng-disabled="vm.Formulario.tipoprice != 'target'">
                              <input type="hidden" name="itemprice_rebateUnit_f"
                                ng-value="itemprice.rebateUnit | currency">
                              <input type="hidden" name="itemprice_rebateUnit" ng-value="itemprice.rebateUnit">
                            </div>

                            <div class="col-sm-4">
                              <label>Qtde</label>
                              <input class="form-control input-lg" name="itemprice_qtde_i" fluig-number-mask="2"
                                fluig-negative-number ng-model="itemprice.qtde"
                                ng-readonly="!vm.regras.enableSolicitacao" ng-change="vm.calculaRebateTotal(itemprice)">
                              <input type="hidden" name="itemprice_qtde_f" ng-value="itemprice.qtde | number:'2'">
                              <input type="hidden" name="itemprice_qtde" ng-value="itemprice.qtde">
                            </div>

                          </div>
                          <div class="row animation">
                            <div class="col-sm-2 animation" ng-show="vm.Formulario.tipoprice != 'target'">
                              <label>Categoria</label>
                              <input class="form-control input-lg" name="itemprice_categoria"
                                ng-value="itemprice.item.categoria" disabled>
                            </div>
                            <div class="col-sm-2" ng-show="vm.Formulario.tipoprice != 'target'">
                              <label>Centro de Custo</label>
                              <input class="form-control input-lg" name="itemprice_ccusto"
                                ng-value="itemprice.item.ccusto" disabled>
                            </div>

                            <div class="col-sm-4">
                              <label>Rebate Total</label>
                              <input class="form-control input-lg" name="itemprice_rebateTotal_i" fluig-money-mask="2"
                                fluig-negative-number ng-model="itemprice.rebateTotal" disabled>
                              <input type="hidden" name="itemprice_rebateTotal_f"
                                ng-value="itemprice.rebateTotal | currency">
                              <input type="hidden" name="itemprice_rebateTotal" ng-value="itemprice.rebateTotal">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm-12">
                              <!-- <h4>{{itemprice.usuario.colleagueName}} incluiu em {{itemprice.data | date}}</h4> -->
                              <textarea hidden name="itemprice_usuario" ng-value="itemprice.usuario | json:0"
                                ng-bind="itemprice.usuario | json:0"></textarea>
                              <input type="hidden" name="itemprice_usuarioCodigo"
                                ng-value="itemprice.usuario.colleagueId">
                              <input type="hidden" name="itemprice_usuarioNome"
                                ng-value="itemprice.usuario.colleagueName">
                              <input type="hidden" name="itemprice_data_f" ng-value="itemprice.data | date:'fullDate'">
                              <input type="hidden" name="itemprice_data" ng-value="itemprice.data">

                            </div>
                          </div>

                          <input type="hidden" name="itemprice_qtdEvidencia_f"
                            ng-value="itemprice.qtdEvidencia | number:'2'">
                          <input type="hidden" name="itemprice_valEvidencia_f"
                            ng-value="itemprice.valEvidencia | currency">
                          <input type="hidden" name="itemprice_totEvidencia_f"
                            ng-value="itemprice.totEvidencia | currency">

                          <input type="hidden" name="itemprice_qtdEvidencia" ng-value="itemprice.qtdEvidencia">
                          <input type="hidden" name="itemprice_valEvidencia" ng-value="itemprice.valEvidencia">
                          <input type="hidden" name="itemprice_totEvidencia" ng-value="itemprice.totEvidencia">

                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <a ng-if="vm.regras.enableSolicitacao" class="btn btn-default"
                  ng-click="vm.incluiItem(vm.Formulario.itensprice)">Incluir
                  Item</a>
              </div>
            </div>
          </div>

          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='sellout' && vm.Formulario.cliente.codigo"
            class="panel" id="panelSellout" ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseSellout">
                  Sell-Out
                </a>
              </h4>
            </div>
            <div id="collapseSellout" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/sellout.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='sellin' && (vm.Formulario.tipoSellin == 'item' || vm.Formulario.tipoSellin == 'net') && vm.Formulario.cliente.codigo"
            class="panel" id="panelSellinItem"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseSellinItem">
                  Sell-In - <span class="text-capitalize">{{vm.Formulario.tipoSellin}}</span>
                </a>
              </h4>
            </div>
            <div id="collapseSellinItem" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/sellin-item.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='sellin' && vm.Formulario.tipoSellin == 'target' && vm.Formulario.cliente.codigo"
            class="panel" id="panelSellinTarget"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseSellinTarget">
                  Sell-In - Target
                </a>
              </h4>
            </div>
            <div id="collapseSellinTarget" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/sellin-target.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='sellin' && vm.Formulario.tipoSellin == 'target' && vm.Formulario.cliente.codigo"
            class="panel" id="panelSellinTargetAc"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseSellinTargetAc">
                  Sell-In - Aceleradores
                </a>
              </h4>
            </div>
            <div id="collapseSellinTargetAc" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/sellin-target-ac.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='vpc' && vm.Formulario.tipoVpc == 'eventos' && vm.Formulario.cliente.codigo"
            class="panel" id="panelVpcEvt" ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseVpcEvt">
                  VPC / Coop - Eventos
                </a>
              </h4>
            </div>
            <div id="collapseVpcEvt" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/vpc-evt.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='vpc' && vm.Formulario.tipoVpc == 'outros' && vm.Formulario.cliente.codigo"
            class="panel" id="panelVpcOutros"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseVpcOutros">
                  VPC / Coop - Outros
                </a>
              </h4>
            </div>
            <div id="collapseVpcOutros" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/vpc-outros.html -->
                <!-- partial -->
              </div>
            </div>
          </div>


          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='spiff' && vm.Formulario.tipoSpiff == 'item' && vm.Formulario.cliente.codigo"
            class="panel" id="panelSpiffItem"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseSpiffItem">
                  Spiff - Item
                </a>
              </h4>
            </div>
            <div id="collapseSpiffItem" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/spiff-item.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div
            ng-show="vm.regras.showSolicitacao && vm.Formulario.tipoAcao.tipoAcaoCodigo=='spiff' && vm.Formulario.tipoSpiff == 'target' && vm.Formulario.cliente.codigo"
            class="panel" id="panelSpiffTarget"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseSpiffTarget">
                  Spiff - Target
                </a>
              </h4>
            </div>
            <div id="collapseSpiffTarget" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <!-- partial:partials/spiff-target.html -->
                <!-- partial -->
              </div>
            </div>
          </div>


          <!-- ============================inicio do anexo=================================== -->

          <div ng-show="vm.regras.showAnexo" class="panel" id="panelSolicitacao"
            ng-class="vm.regras.showAnexo ? 'panel-primary' : 'panel-default'" name="anexo">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.showAnexo}" data-toggle="collapse"
                  href="#collapseAnexo">Anexar Arquivo
                </a>
              </h4>
            </div>
            <div id="collapseAnexo" class="panel-collapse collapse" ng-class="{'in': vm.regras.showAnexo}">
              <div class="panel-body">

                <div class="col-sm-3">
                  <div class="drop-box fs-cursor-pointer" ngf-select="vm.selectFiles1('anexos', $files, {})"
                    ngf-drop="vm.selectFiles1('anexos', $files, {})" ng-model="files" ngf-multiple="true"
                    ngf-drag-over-class="'dragover'">
                    <h4>Clique para Selecionar ou Arraste os Arquivos Aqui</h4>
                  </div>
                </div>

                <div ng-class="{'col-sm-9': vm.regras.showAnexo, 'col-sm-12': !vm.regras.showAnexo}">
                  <div ng-show="vm.Formulario.anexos.length == 0">
                    <h1 class="fs-lg-space">Nenhum arquivo enviado!</h1>
                  </div>

                  <div class="table" ng-show="vm.regras.showAnexo">
                    <div ng-repeat="arquivo in vm.Formulario.anexos" ng-show="!arquivo.removed" class="row">
                      <div class="col-sm-1">
                        <span ng-click="vm.removeArquivo(arquivo)" ng-if="vm.regras.showAnexo"
                          class="flaticon icon-lg flaticon-trash fs-cursor-pointer"></span>
                        <span ng-if="arquivo.aceito" class="flaticon flaticon-done icon-lg text-success"></span>
                      </div>
                      <div class="col-sm-11">
                        <!-- aqui tem -->
                        <div class="row">
                          <div class="col-sm-12"><label>Descrição do Arquivo</label>
                            <input type="text" name="descriarqu" class="form-control input-lg" ng-required="true"
                              fluig-error="form.descricaoArquivo.$error" ng-model="arquivo.descricao"
                              ng-value="arquivo.descricao" ng-change="vm.alterado = true" ng-blur="vm.uploadFiles()"
                              placeholder="Descrição do arquivo">
                            <h4 class="fs-no-margin" ng-if="!vm.regras.showAnexo || arquivo.aceito">
                              {{arquivo.descricao}}</h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 div_arq">
                            <a target="_blank" href="{{arquivo.url}}">
                              <h4>
                                <iclass="flaticon flaticon-link icon-md">
                                  </iclass=>{{arquivo.nome || 'Sem descrição'}}
                              </h4>
                            </a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div style="padding-top: 10px">
                              <div ng-if="!arquivo.aceito && arquivo.motivoRecusa" class="alert alert-warning"
                                role="alert">
                                <p>Arquivo Recusado. Motivo: {{arquivoEv.motivoRecusa}}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <!---================================fim do anexo==================================-->


          <div ng-show="vm.regras.showSolicitacao" class="panel" id="panelSolicitacao"
            ng-class="vm.regras.enableSolicitacao ? 'panel-primary' : 'panel-default'" id="panelRateio">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSolicitacao}" data-toggle="collapse"
                  href="#collapseRateio">
                  Rateio
                </a>
              </h4>
            </div>
            <div id="collapseRateio" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableSolicitacao}">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- partial:partials/rateio-categoria.html -->
                    <!-- partial -->
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showExecutivos" class="panel" id="panelExecutivos"
            ng-class="vm.regras.enableExecutivos ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableExecutivos}" data-toggle="collapse"
                  href="#collapseExecutivos">
                  Executivos Responsáveis
                </a>
              </h4>
            </div>
            <div id="collapseExecutivos" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableExecutivos}">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- partial:partials/executivos.html -->
                    <!-- partial -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showValidacaoMarketing && vm.Formulario.userValMarketing.colleagueId" class="panel"
            id="panelValidacaoMarketing"
            ng-class="vm.Formulario.statusValidacaoMarketing == 'APROVADO' ? 'panel-success' : vm.Formulario.statusValidacaoMarketing == 'REPROVADO' ? 'panel-danger' : vm.regras.enableValidacaoMarketing ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableValidacaoMarketing}" data-toggle="collapse"
                  href="#collapseValidacaoMarketing">
                  Validação Marketing
                </a>
              </h4>
            </div>
            <div id="collapseValidacaoMarketing" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableValidacaoMarketing}">
              <div class="panel-body">
                <!-- partial:partials/validacao-marketing.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showAprovGerMarketing && vm.Formulario.userAprovGerMarketing.colleagueId"
            class="panel" id="panelAprovGerMarketing"
            ng-class="vm.Formulario.statusAprovGerMarketing == 'APROVADO' ? 'panel-success' : vm.Formulario.statusAprovGerMarketing == 'REPROVADO' ? 'panel-danger' : vm.regras.enableAprovGerMarketing ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableAprovGerMarketing}" data-toggle="collapse"
                  href="#collapseAprovGerMarketing">
                  Aprovação Gerência de Marketing
                </a>
              </h4>
            </div>
            <div id="collapseAprovGerMarketing" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableAprovGerMarketing}">
              <div class="panel-body">
                <!-- partial:partials/aprovacao-gerMarketing.html -->
                <!-- partial -->
              </div>
            </div>
          </div>


          <div ng-show="vm.regras.showAprovPresidenciaVp && vm.Formulario.userAprovPresidenciaVp.colleagueId"
            class="panel" id="panelAprovPresidenciaVp"
            ng-class="vm.Formulario.statusAprovPresidenciaVp == 'APROVADO' ? 'panel-success' : vm.Formulario.statusAprovPresidenciaVp == 'REPROVADO' ? 'panel-danger' : vm.regras.enableAprovPresidenciaVp ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableAprovPresidenciaVp}" data-toggle="collapse"
                  href="#collapseAprovPresidenciaVp">
                  Aprovação Presidência / VP
                </a>
              </h4>
            </div>
            <div id="collapseAprovPresidenciaVp" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableAprovPresidenciaVp}">
              <div class="panel-body">
                <!-- partial:partials/aprovacao-presidenciaVp.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showEncerramentoAntecipado || vm.Formulario.userEncerramentoAntecip.colleagueId"
            class="panel panel-warning" id="panelEncerramentoAntecipado">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableEncerramentoAntecipado}"
                  data-toggle="collapse" href="#collapseEncerramentoAntecipado">
                  Encerramento Antecipado
                </a>
              </h4>
            </div>
            <div id="collapseEncerramentoAntecipado" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableEncerramentoAntecipado}">
              <div class="panel-body">
                <!-- partial:partials/encerramento-antecipado.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showEvidencias" class="panel" id="panelEvidencias"
            ng-class="vm.Formulario.statusValidacaoEvid == 'APROVADO' ? 'panel-success' : vm.Formulario.statusValidacaoEvid == 'REPROVADO' ? 'panel-danger' : vm.regras.enableValidacaoEvidencias || vm.regras.enableEvidencias ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon"
                  ng-class="{'up': vm.regras.enableEvidencias || vm.regras.enableValidacaoEvidencias}"
                  data-toggle="collapse" href="#collapseEvidencias">
                  Evidências e Resultado
                </a>
              </h4>
            </div>
            <div id="collapseEvidencias" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableEvidencias || vm.regras.enableValidacaoEvidencias}">
              <div class="panel-body">
                <!-- partial:partials/evidencias.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showAprovVerbaMaior && vm.Formulario.userAprovVerbaMaior.colleagueId" class="panel"
            id="panelAprovVerbaMaior"
            ng-class="vm.Formulario.statusAprovVerbaMaior == 'APROVADO' ? 'panel-success' : vm.Formulario.statusAprovVerbaMaior == 'REPROVADO' ? 'panel-danger' : vm.regras.enableAprovVerbaMaior ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableAprovVerbaMaior}" data-toggle="collapse"
                  href="#collapseAprovVerbaMaior">
                  Aprovação de Verba maior que {{vm.MarketingParametros.limiteResultado | currency}}
                </a>
              </h4>
            </div>
            <div id="collapseAprovVerbaMaior" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableAprovVerbaMaior}">
              <div class="panel-body">
                <!-- partial:partials/aprovacao-verbaMaior.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showAprovVerbaMenor && vm.Formulario.userAprovVerbaMenor.colleagueId" class="panel"
            id="panelAprovVerbaMenor"
            ng-class="vm.Formulario.statusAprovVerbaMenor == 'APROVADO' ? 'panel-success' : vm.Formulario.statusAprovVerbaMenor == 'REPROVADO' ? 'panel-danger' : vm.regras.enableAprovVerbaMenor ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableAprovVerbaMenor}" data-toggle="collapse"
                  href="#collapseAprovVerbaMenor">
                  Aprovação de Verba até {{vm.MarketingParametros.limiteResultado | currency}}
                </a>
              </h4>
            </div>
            <div id="collapseAprovVerbaMenor" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableAprovVerbaMenor}">
              <div class="panel-body">
                <!-- partial:partials/aprovacao-verbaMenor.html -->
                <!-- partial -->
              </div>
            </div>
          </div>



          <div ng-show="vm.regras.showND" class="panel" id="panelND"
            ng-class="vm.Formulario.statusValidacaoND == 'APROVADO' ? 'panel-success' : vm.Formulario.statusValidacaoND == 'REPROVADO' ? 'panel-danger' : vm.regras.enableValidacaoND || vm.regras.enableND ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableValidacaoND || vm.regras.enableND}"
                  data-toggle="collapse" href="#collapseND">
                  Nota de Débito
                </a>
              </h4>
            </div>
            <div id="collapseND" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableValidacaoND || vm.regras.enableND}">
              <div class="panel-body">
                <!-- partial:partials/nd.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showGerenciarVales" class="panel" id="panelGerenciarVales">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableGerenciarVales}" data-toggle="collapse"
                  href="#collapseGerenciarVales">
                  Gerenciar Vales
                </a>
              </h4>
            </div>
            <div id="collapseGerenciarVales" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableGerenciarVales}">
              <div class="panel-body">
                <!-- partial:partials/gerenciarVales.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showSelecionarDuplicatas && vm.Formulario.userFinanceiro.colleagueId" class="panel"
            id="panelSelecionarDuplicatas"
            ng-class="vm.Formulario.statusFinanceiro == 'APROVADO' ? 'panel-success' : vm.Formulario.statusFinanceiro == 'REPROVADO' ? 'panel-danger' : vm.regras.enableSelecionarDuplicatas ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableSelecionarDuplicatas}" data-toggle="collapse"
                  href="#collapseSelecionarDuplicatas">
                  Duplicatas a Antecipar
                </a>
              </h4>
            </div>
            <div id="collapseSelecionarDuplicatas" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableSelecionarDuplicatas}">
              <div class="panel-body">
                <!-- partial:partials/selecionarDuplicatas.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showAprovPagamento && vm.Formulario.userAprovPagamento.colleagueId" class="panel"
            id="panelAprovPagamento"
            ng-class="vm.Formulario.statusAprovPagamento == 'APROVADO' ? 'panel-success' : vm.Formulario.statusAprovPagamento == 'REPROVADO' ? 'panel-danger' : vm.regras.enableAprovPagamento ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableAprovPagamento}" data-toggle="collapse"
                  href="#collapseAprovPagamento">
                  Aprovação do Pagamento
                </a>
              </h4>
            </div>
            <div id="collapseAprovPagamento" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableAprovPagamento}">
              <div class="panel-body">
                <!-- partial:partials/aprovacao-pagamento.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showNotificacaoCliente" class="panel" id="panelNotificacaoCliente"
            ng-class="vm.regras.enableNotificacaoCliente ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <input type="hidden" name="notificacaoEtapa" ng-value="vm.Formulario.notificacaoEtapa">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableNotificacaoCliente}" data-toggle="collapse"
                  href="#collapseNotificacaoCliente">
                  Notificar Cliente
                </a>
              </h4>
            </div>
            <div id="collapseNotificacaoCliente" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableNotificacaoCliente}">
              <div class="panel-body">
                <!-- partial:partials/autorizarNotificacaoCliente.html -->
                <!-- partial -->
              </div>
            </div>
          </div>



          <div ng-show="vm.regras.showResumo" class="panel panel-default " id="panelResumo">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon up" data-toggle="collapse" href="#collapseResumo">
                  Resumo
                </a>
              </h4>
            </div>
            <div id="collapseResumo" class="panel-collapse collapse in">
              <div class="panel-body">
                <!-- partial:partials/resumo.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showObsInternas" class="panel" id="panelObsInternas"
            ng-class="vm.regras.enableObsInternas ? 'panel-primary' : 'panel-default'">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableObsInternas}" data-toggle="collapse"
                  href="#collapseObsInternas">
                  Observações Internas (Uso Brother)
                </a>
              </h4>
            </div>
            <div id="collapseObsInternas" class="panel-collapse collapse"
              ng-class="{'in': vm.regras.enableObsInternas}">
              <div class="panel-body">
                <!-- partial:partials/obsInternas.html -->
                <!-- partial -->
              </div>
            </div>
          </div>

          <div ng-show="vm.regras.showStatusErp" class="panel"
            ng-class="vm.regras.enableStatusErp ? 'panel-primary' : 'panel-default'" id="panelStatusErp">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapse-icon" ng-class="{'up': vm.regras.enableStatusErp}" data-toggle="collapse"
                  href="#collapseStatusErp">
                  Status da Solicitação no ERP
                </a>
              </h4>
            </div>
            <div id="collapseStatusErp" class="panel-collapse collapse" ng-class="{'in': vm.regras.enableStatusErp}">
              <div class="panel-body">
                <!-- partial:partials/statusErp.html -->
                <!-- partial -->
              </div>
            </div>
          </div>


        </div>

      </form>

    </div>

  </div>
</body>

</html>