<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Itens de Spiff (Target)</h4>
      </div>

      <div class="panel-body">

        <table class="table" tablename="camposSpiffTg" noaddbutton="true" nodeletebutton="true"
          ng-show="vm.Formulario.camposSpiffTg.length > 0">

          <thead>
            <tr>
              <th ng-show="vm.Params.edit"></th>
              <th></th>
            </tr>
          </thead>

          <tbody ng-non-bindable>
            <tr ng-repeat="campoSpiffTg in vm.Formulario.camposSpiffTg">
              <td ng-show="vm.Params.edit">
                <span class="fluigicon fluigicon-md fluigicon-arrow-up fs-cursor-pointer"
                  ng-click="$index>0?vm.Formulario.camposSpiffTg.move($index,$index-1):null"></span>
                <span class="fluigicon fluigicon-md fluigicon-arrow-down fs-cursor-pointer"
                  ng-click="$index<vm.Formulario.camposSpiffTg.length-1?vm.Formulario.camposSpiffTg.move($index,$index+1):null"></span>

                <span ng-click="vm.removeChild(vm.Formulario.camposSpiffTg, $index)"
                  class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Título</label>
                      <input type="text" class="form-control input-lg" name="campoSpiffTg_label"
                        ng-value="campoSpiffTg.label">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Campo</label>
                      <input class="form-control input-lg" name="campoSpiffTg_column_i" fluig-autocomplete
                        values="vm.CamposSpiffTg" ng-model="campoSpiffTg.column" display-key="name">
                      <textarea hidden name="campoSpiffTg_column" ng-value="campoSpiffTg.column | json:0"
                        ng-bind="campoSpiffTg.column | json:0"></textarea>
                      <input type="hidden" name="campoSpiffTg_name" ng-value="campoSpiffTg.column.name">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-sm-2">
                    <label>Início da Ação</label>
                    <input type="checkbox" name="campoSpiffTg_iniAcao_i" ng-model="campoSpiffTg.iniAcao" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoSpiffTg_iniAcao" ng-value="campoSpiffTg.iniAcao">
                  </div>
                  <!-- <div class="col-sm-2">
                    <label>Término da Ação</label>
                    <input type="checkbox" name="campoSpiffTg_fimAcao_i" ng-model="campoSpiffTg.fimAcao"
                      fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoSpiffTg_fimAcao" ng-value="campoSpiffTg.fimAcao">
                  </div> -->
                  <div class="col-sm-3">
                    <label>Evidências</label>
                    <input type="checkbox" name="campoSpiffTg_evidencia_i" ng-model="campoSpiffTg.evidencia"
                      fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoSpiffTg_evidencia" ng-value="campoSpiffTg.evidencia">
                  </div>
                  <div class="col-sm-2">
                    <label>Envio da ND</label>
                    <input type="checkbox" name="campoSpiffTg_envioND_i" ng-model="campoSpiffTg.envioND" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoSpiffTg_envioND" ng-value="campoSpiffTg.envioND">
                  </div>
                  <div class="col-sm-2">
                    <label>Pagamento</label>
                    <input type="checkbox" name="campoSpiffTg_pagamento_i" ng-model="campoSpiffTg.pagamento"
                      fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoSpiffTg_pagamento" ng-value="campoSpiffTg.pagamento">
                  </div>
                  <div class="col-sm-2">
                    <label>Cancelamento</label>
                    <input type="checkbox" name="campoSpiffTg_cancelamento_i" ng-model="campoSpiffTg.cancelamento"
                      fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoSpiffTg_cancelamento" ng-value="campoSpiffTg.cancelamento">
                  </div>
                  <div class="col-sm-2">
                    <label>Vales</label>
                    <input type="checkbox" name="campoSpiffTg_vales_i" ng-model="campoSpiffTg.vales"
                      fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoSpiffTg_vales" ng-value="campoSpiffTg.vales">
                  </div>
                </div>

            </tr>
          </tbody>
        </table>
        <div ng-show="vm.Params.edit">
          <a class="btn btn-default btn-lg" ng-click="vm.Formulario.camposSpiffTg.push(
        {iniAcao: true, fimAcao: true, evidencia: true, envioND: true, pagamento: true}
        )">Incluir Campo</a>
        </div>
      </div>
    </div>
  </div>
</div>