<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Nota de Débito</h4>
      </div>

      <div class="panel-body">

        <table class="table" tablename="camposND" noaddbutton="true" nodeletebutton="true"
          ng-show="vm.Formulario.camposND.length > 0">

          <thead>
            <tr>
              <th ng-show="vm.Params.edit"></th>
              <th></th>
            </tr>
          </thead>

          <tbody ng-non-bindable>
            <tr ng-repeat="campoND in vm.Formulario.camposND">
              <td ng-show="vm.Params.edit">
                <span class="fluigicon fluigicon-md fluigicon-arrow-up fs-cursor-pointer"
                  ng-click="$index>0?vm.Formulario.camposND.move($index,$index-1):null"></span>
                <span class="fluigicon fluigicon-md fluigicon-arrow-down fs-cursor-pointer"
                  ng-click="$index<vm.Formulario.camposND.length-1?vm.Formulario.camposND.move($index,$index+1):null"></span>

                <span ng-click="vm.removeChild(vm.Formulario.camposND, $index)"
                  class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Título</label>
                      <input type="text" class="form-control input-lg" name="campoND_label" ng-value="campoND.label">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Campo</label>
                      <input class="form-control input-lg" name="campoND_column_i" fluig-autocomplete
                        values="vm.CamposND" ng-model="campoND.column" display-key="name">
                      <textarea hidden name="campoND_column" ng-value="campoND.column | json:0"
                        ng-bind="campoND.column | json:0"></textarea>
                      <input type="hidden" name="campoND_name" ng-value="campoND.column.name">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-sm-2">
                    <label>Início da Ação</label>
                    <input type="checkbox" name="campoND_iniAcao_i" ng-model="campoND.iniAcao" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoND_iniAcao" ng-value="campoND.iniAcao">
                  </div>
                  <!-- <div class="col-sm-2">
                    <label>Término da Ação</label>
                    <input type="checkbox" name="campoND_fimAcao_i" ng-model="campoND.fimAcao" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoND_fimAcao" ng-value="campoND.fimAcao">
                  </div> -->
                  <div class="col-sm-2">
                    <label>Evidências</label>
                    <input type="checkbox" name="campoND_evidencia_i" ng-model="campoND.evidencia" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoND_evidencia" ng-value="campoND.evidencia">
                  </div>
                  <div class="col-sm-2">
                    <label>Envio da ND</label>
                    <input type="checkbox" name="campoND_envioND_i" ng-model="campoND.envioND" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoND_envioND" ng-value="campoND.envioND">
                  </div>
                  <div class="col-sm-2">
                    <label>Pagamento</label>
                    <input type="checkbox" name="campoND_pagamento_i" ng-model="campoND.pagamento" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoND_pagamento" ng-value="campoND.pagamento">
                  </div>
                  <div class="col-sm-2">
                    <label>Cancelamento</label>
                    <input type="checkbox" name="campoND_cancelamento_i" ng-model="campoND.cancelamento" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoND_cancelamento" ng-value="campoND.cancelamento">
                  </div>
                  <div class="col-sm-2">
                    <label>Vales</label>
                    <input type="checkbox" name="campoND_vales_i" ng-model="campoND.vales" fluig-switch
                      data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                    <input type="hidden" name="campoND_vales" ng-value="campoND.vales">
                  </div>
                </div>

            </tr>
          </tbody>
        </table>
        <div ng-show="vm.Params.edit">
          <a class="btn btn-default btn-lg" ng-click="vm.Formulario.camposND.push(
        {iniAcao: true, fimAcao: true, evidencia: true, envioND: true, pagamento: true}
        )">Incluir Campo</a>
        </div>
      </div>
    </div>
  </div>
</div>