<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Aba Dados</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="portalDadosTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.portalDadosTexto.$error" name="portalDadosTexto" elastic
            class="form-control input-lg" ng-model="vm.Formulario.portalDadosTexto"
            ng-value="vm.Formulario.portalDadosTexto"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Aba Evidências</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="portalEvidenciasTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.portalEvidenciasTexto.$error" name="portalEvidenciasTexto" elastic
            class="form-control input-lg" ng-model="vm.Formulario.portalEvidenciasTexto"
            ng-value="vm.Formulario.portalEvidenciasTexto"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Aba ND</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="portalNDTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.portalNDTexto.$error" name="portalNDTexto" elastic
            class="form-control input-lg" ng-model="vm.Formulario.portalNDTexto"
            ng-value="vm.Formulario.portalNDTexto"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Aba Pagamento</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="portalPagamentoTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.portalPagamentoTexto.$error" name="portalPagamentoTexto" elastic
            class="form-control input-lg" ng-model="vm.Formulario.portalPagamentoTexto"
            ng-value="vm.Formulario.portalPagamentoTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>