<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Início da Ação</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="iniAcaoTitulo" class="control-label">Título</label>
          <input name="iniAcaoTitulo" class="form-control input-lg" ng-model="vm.Formulario.iniAcaoTitulo"
            ng-value="vm.Formulario.iniAcaoTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="iniAcaoTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.iniAcaoTexto.$error" name="iniAcaoTexto" elastic class="form-control input-lg"
            ng-model="vm.Formulario.iniAcaoTexto" ng-value="vm.Formulario.iniAcaoTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Fim da Ação</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="fimAcaoTitulo" class="control-label">Título</label>
          <input name="fimAcaoTitulo" class="form-control input-lg" ng-model="vm.Formulario.fimAcaoTitulo"
            ng-value="vm.Formulario.fimAcaoTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="fimAcaoTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.fimAcaoTexto.$error" name="fimAcaoTexto" elastic class="form-control input-lg"
            ng-model="vm.Formulario.fimAcaoTexto" ng-value="vm.Formulario.fimAcaoTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Envio de Evidências</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="evidenciaTitulo" class="control-label">Título</label>
          <input name="evidenciaTitulo" class="form-control input-lg" ng-model="vm.Formulario.evidenciaTitulo"
            ng-value="vm.Formulario.evidenciaTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="evidenciaTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.evidenciaTexto.$error" name="evidenciaTexto" elastic class="form-control input-lg"
            ng-model="vm.Formulario.evidenciaTexto" ng-value="vm.Formulario.evidenciaTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Envio da ND</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="envioNDTitulo" class="control-label">Título</label>
          <input name="envioNDTitulo" class="form-control input-lg" ng-model="vm.Formulario.envioNDTitulo"
            ng-value="vm.Formulario.envioNDTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="envioNDTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.envioNDTexto.$error" name="envioNDTexto" elastic class="form-control input-lg"
            ng-model="vm.Formulario.envioNDTexto" ng-value="vm.Formulario.envioNDTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Pagamento</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="pagamentoTitulo" class="control-label">Título</label>
          <input name="pagamentoTitulo" class="form-control input-lg" ng-model="vm.Formulario.pagamentoTitulo"
            ng-value="vm.Formulario.pagamentoTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="pagamentoTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.pagamentoTexto.$error" name="pagamentoTexto" elastic class="form-control input-lg"
            ng-model="vm.Formulario.pagamentoTexto" ng-value="vm.Formulario.pagamentoTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Cancelamento</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="cancelamentoTitulo" class="control-label">Título</label>
          <input name="cancelamentoTitulo" class="form-control input-lg" ng-model="vm.Formulario.cancelamentoTitulo"
            ng-value="vm.Formulario.cancelamentoTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="cancelamentoTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.cancelamentoTexto.$error" name="cancelamentoTexto" elastic
            class="form-control input-lg" ng-model="vm.Formulario.cancelamentoTexto"
            ng-value="vm.Formulario.cancelamentoTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Vales</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="valesTitulo" class="control-label">Título</label>
          <input name="valesTitulo" class="form-control input-lg" ng-model="vm.Formulario.valesTitulo"
            ng-value="vm.Formulario.valesTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="valesTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.valesTexto.$error" name="valesTexto" elastic class="form-control input-lg"
            ng-model="vm.Formulario.valesTexto" ng-value="vm.Formulario.valesTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Resumo de Verbas</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="resumoVerbasTitulo" class="control-label">Título</label>
          <input name="resumoVerbasTitulo" class="form-control input-lg" ng-model="vm.Formulario.resumoVerbasTitulo"
            ng-value="vm.Formulario.resumoVerbasTitulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label for="resumoVerbasTexto" class="control-label">Texto</label>
          <textarea fluig-error="form.resumoVerbasTexto.$error" name="resumoVerbasTexto" elastic
            class="form-control input-lg" ng-model="vm.Formulario.resumoVerbasTexto"
            ng-value="vm.Formulario.resumoVerbasTexto"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>