<div class="panel animation" ng-class="{'panel-primary': vm.Params.edit, 'panel-default': !vm.Params.edit}">
    <div class="panel-heading">
        <h4 class="panel-title">Contatos</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <table ng-show="vm.Formulario.contatos.length > 0" class="table table-condensed table-striped"
                    tablename="contatos" noaddbutton="true" nodeletebutton="true">
                    <thead>
                        <tr>
                            <th ng-show="vm.Params.edit" class="col-sm-1"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-non-bindable>
                        <tr ng-repeat="contato in vm.Formulario.contatos">
                            <td ng-show="vm.Params.edit">
                                <span class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"
                                    ng-click="vm.removeChild(vm.Formulario.contatos, $index)"></span>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Nome</label>
                                            <input class="form-control input-lg" fluig-autocomplete
                                                dataset="marketing_usuario" display-key="nome" ng-value="contato.nome"
                                                ng-model="contato.usuario" name="contato_nome" result-fields="['nome','email']">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">E-mail</label>
                                            <input class="form-control input-lg" fluig-autocomplete
                                                dataset="marketing_usuario" display-key="email" ng-value="contato.email"
                                                ng-model="contato.usuario" name="contato_email" result-fields="['nome','email']">
                                        </div>
                                    </div>
                                    <textarea name="contato_usuario" id="contato_usuario" hidden
                                        ng-value="contato.usuario | json:0"
                                        ng-bind="contato.usuario | json:0"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="contato_iniAcao_i">Início da Ação</label>
                                        <input type="checkbox" name="contato_iniAcao_i" ng-model="contato.iniAcao"
                                            fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                                        <input type="hidden" name="contato_iniAcao" ng-value="contato.iniAcao">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="contato_evidencia_i">Evidências</label>
                                        <input type="checkbox" name="contato_evidencia_i" ng-model="contato.evidencia"
                                            fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                                        <input type="hidden" name="contato_evidencia" ng-value="contato.evidencia">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="contato_envioND_i">Envio de ND</label>
                                        <input type="checkbox" name="contato_envioND_i" ng-model="contato.envioND"
                                            fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                                        <input type="hidden" name="contato_envioND" ng-value="contato.envioND">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="contato_pagamento_i">Pagamento</label>
                                        <input type="checkbox" name="contato_pagamento_i" ng-model="contato.pagamento"
                                            fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                                        <input type="hidden" name="contato_pagamento" ng-value="contato.pagamento">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="contato_cancelamento_i">Cancelamento</label>
                                        <input type="checkbox" name="contato_cancelamento_i"
                                            ng-model="contato.cancelamento" fluig-switch data-off-text="NÃO"
                                            data-on-text="SIM" data-on-color="success">
                                        <input type="hidden" name="contato_cancelamento"
                                            ng-value="contato.cancelamento">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="contato_resumo_i">Resumo de Verbas</label>
                                        <input type="checkbox" name="contato_resumo_i" ng-model="contato.resumo"
                                            fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                                        <input type="hidden" name="contato_resumo" ng-value="contato.resumo">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="contato_vales_i">Vales</label>
                                        <input type="checkbox" name="contato_vales_i" ng-model="contato.vales"
                                            fluig-switch data-off-text="NÃO" data-on-text="SIM" data-on-color="success">
                                        <input type="hidden" name="contato_vales" ng-value="contato.vales">
                                    </div>
                                </div>

                                <input type="hidden" name="contato_date" ng-value="contato.date">
                                <textarea hidden name="contato_user" ng-value="contato.user | json:0"
                                    ng-bind="contato.user | json:0"></textarea>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <button ng-if="vm.Params.edit" type="button" class="btn btn-lg btn-default"
                    ng-click="vm.Formulario.contatos.push({})">Incluir
                    Contato</button>
            </div>
        </div>

    </div>
</div>