<input name="Params" type="hidden" id="Params" ng-value="vm.Params | json:0">
<input name="Errors" type="hidden" id="Errors" ng-value="vm.Errors | json:0">

<input name="regras" type="hidden" id="regras" ng-value="vm.regras | json:0">

<input type="hidden" name="displaykey" ng-value="vm.Formulario.displaykey">
<input type="hidden" name="importado" ng-value="vm.Formulario.importado">
<input type="hidden" name="solicitacao" ng-value="vm.Formulario.solicitacao">
<input type="hidden" name="pendenteTotvs" ng-value="vm.Formulario.pendenteTotvs">
<input type="hidden" name="statusIntegraTotvs" ng-value="vm.Formulario.statusIntegraTotvs">
<input type="hidden" name="dataIntegraTotvs" ng-value="vm.Formulario.dataIntegraTotvs">