<!-- <link type="text/css" rel="stylesheet" href="/style-guide/css/fluig-style-guide-flat.min.css"> -->
<link rel="stylesheet" type="text/css" href="/brother-fluig/wcm/widget/brother_lib/css/main.css" />
<link rel="stylesheet" type="text/css" href="/brother-fluig/wcm/widget/brother_documentacao_marketing/css/main.css" />

<link rel="stylesheet" type="text/css" href="/brother_lib/css/main.css" />
<link rel="stylesheet" type="text/css" href="/brother_documentacao_marketing/css/main.css" />

<!-- <script type="text/javascript" src="/webdesk/vcXMLRPC.js"></script>
<script type="text/javascript" src="/resources/js/wcm_global_pt_BR.js" charset="utf-8"></script>
<script type="text/javascript" src="/portal/resources/js/api_pt_BR.js" charset="utf-8"></script>
<script type="text/javascript" src="/style-guide/js/fluig-style-guide.min.js"></script> -->

<script type="text/javascript" src="/brother_lib/js/vendor.min.js"></script>
<script type="text/javascript" src="/brother_lib/js/script.min.js"></script>
<script type="text/javascript" src="/brother_documentacao_marketing/js/script.min.js"></script>

<script type="text/javascript" src="/brother-fluig/wcm/widget/brother_lib/js/vendor.min.js"></script>
<script type="text/javascript" src="/brother-fluig/wcm/widget/brother_lib/js/script.min.js"></script>
<script type="text/javascript" src="/brother-fluig/wcm/widget/brother_documentacao_marketing/js/script.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Documentação do Cliente</title>